<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.duobei.core.message.dao.mapper.SmsChannelMapper">
  <resultMap id="BaseResultMap" type="com.duobei.core.message.domain.SmsChannel">
    <id column="sc_id" jdbcType="INTEGER" property="id" />
    <result column="sc_platform" jdbcType="VARCHAR" property="platform" />
    <result column="sc_sms_userful_code" jdbcType="VARCHAR" property="smsUserfulCode" />
    <result column="sc_sms_userful_name" jdbcType="VARCHAR" property="smsUserfulName" />
    <result column="sc_sms_channel_code" jdbcType="VARCHAR" property="smsChannelCode" />
    <result column="sc_sms_channel_name" jdbcType="VARCHAR" property="smsChannelName" />
    <result column="sc_sms_sign" jdbcType="VARCHAR" property="smsSign" />
    <result column="sc_request_url" jdbcType="VARCHAR" property="requestUrl" />
    <result column="sc_account" jdbcType="VARCHAR" property="account" />
    <result column="sc_password" jdbcType="VARCHAR" property="password" />
    <result column="sc_status" jdbcType="INTEGER" property="status" />
    <result column="sc_sort" jdbcType="INTEGER" property="sort" />
    <result column="sc_add_time" jdbcType="TIMESTAMP" property="addTime" />
    <result column="sc_modify_time" jdbcType="TIMESTAMP" property="modifyTime" />
    <result column="sc_add_operator_id" jdbcType="INTEGER" property="addOperatorId" />
    <result column="sc_add_operator_name" jdbcType="VARCHAR" property="addOperatorName" />
    <result column="sc_modify_operator_id" jdbcType="INTEGER" property="modifyOperatorId" />
    <result column="sc_modify_operator_name" jdbcType="VARCHAR" property="modifyOperatorName" />
    <result column="sc_is_delete" jdbcType="INTEGER" property="isDelete" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    sc.id as sc_id, sc.platform as sc_platform, sc.sms_userful_code as sc_sms_userful_code, 
    sc.sms_userful_name as sc_sms_userful_name, sc.sms_channel_code as sc_sms_channel_code, 
    sc.sms_channel_name as sc_sms_channel_name, sc.sms_sign as sc_sms_sign, sc.request_url as sc_request_url, 
    sc.account as sc_account, sc.password as sc_password, sc.status as sc_status, sc.sort as sc_sort, 
    sc.add_time as sc_add_time, sc.modify_time as sc_modify_time, sc.add_operator_id as sc_add_operator_id, 
    sc.add_operator_name as sc_add_operator_name, sc.modify_operator_id as sc_modify_operator_id, 
    sc.modify_operator_name as sc_modify_operator_name, sc.is_delete as sc_is_delete
  </sql>
  <select id="selectByExample" parameterType="com.duobei.core.message.domain.SmsChannelExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from pub_sms_channel sc
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from pub_sms_channel sc
    where sc.id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from pub_sms_channel
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="com.duobei.core.message.domain.SmsChannelExample">
    delete from pub_sms_channel sc
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.duobei.core.message.domain.SmsChannel">
    insert into pub_sms_channel (id, platform, sms_userful_code, 
      sms_userful_name, sms_channel_code, sms_channel_name, 
      sms_sign, request_url, account, 
      password, status, sort, 
      add_time, modify_time, add_operator_id, 
      add_operator_name, modify_operator_id, modify_operator_name, 
      is_delete)
    values (#{id,jdbcType=INTEGER}, #{platform,jdbcType=VARCHAR}, #{smsUserfulCode,jdbcType=VARCHAR}, 
      #{smsUserfulName,jdbcType=VARCHAR}, #{smsChannelCode,jdbcType=VARCHAR}, #{smsChannelName,jdbcType=VARCHAR}, 
      #{smsSign,jdbcType=VARCHAR}, #{requestUrl,jdbcType=VARCHAR}, #{account,jdbcType=VARCHAR}, 
      #{password,jdbcType=VARCHAR}, #{status,jdbcType=INTEGER}, #{sort,jdbcType=INTEGER}, 
      #{addTime,jdbcType=TIMESTAMP}, #{modifyTime,jdbcType=TIMESTAMP}, #{addOperatorId,jdbcType=INTEGER}, 
      #{addOperatorName,jdbcType=VARCHAR}, #{modifyOperatorId,jdbcType=INTEGER}, #{modifyOperatorName,jdbcType=VARCHAR}, 
      #{isDelete,jdbcType=INTEGER})
  </insert>
  <insert id="insertSelective" parameterType="com.duobei.core.message.domain.SmsChannel">
    insert into pub_sms_channel
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="platform != null">
        platform,
      </if>
      <if test="smsUserfulCode != null">
        sms_userful_code,
      </if>
      <if test="smsUserfulName != null">
        sms_userful_name,
      </if>
      <if test="smsChannelCode != null">
        sms_channel_code,
      </if>
      <if test="smsChannelName != null">
        sms_channel_name,
      </if>
      <if test="smsSign != null">
        sms_sign,
      </if>
      <if test="requestUrl != null">
        request_url,
      </if>
      <if test="account != null">
        account,
      </if>
      <if test="password != null">
        password,
      </if>
      <if test="status != null">
        status,
      </if>
      <if test="sort != null">
        sort,
      </if>
      <if test="addTime != null">
        add_time,
      </if>
      <if test="modifyTime != null">
        modify_time,
      </if>
      <if test="addOperatorId != null">
        add_operator_id,
      </if>
      <if test="addOperatorName != null">
        add_operator_name,
      </if>
      <if test="modifyOperatorId != null">
        modify_operator_id,
      </if>
      <if test="modifyOperatorName != null">
        modify_operator_name,
      </if>
      <if test="isDelete != null">
        is_delete,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="platform != null">
        #{platform,jdbcType=VARCHAR},
      </if>
      <if test="smsUserfulCode != null">
        #{smsUserfulCode,jdbcType=VARCHAR},
      </if>
      <if test="smsUserfulName != null">
        #{smsUserfulName,jdbcType=VARCHAR},
      </if>
      <if test="smsChannelCode != null">
        #{smsChannelCode,jdbcType=VARCHAR},
      </if>
      <if test="smsChannelName != null">
        #{smsChannelName,jdbcType=VARCHAR},
      </if>
      <if test="smsSign != null">
        #{smsSign,jdbcType=VARCHAR},
      </if>
      <if test="requestUrl != null">
        #{requestUrl,jdbcType=VARCHAR},
      </if>
      <if test="account != null">
        #{account,jdbcType=VARCHAR},
      </if>
      <if test="password != null">
        #{password,jdbcType=VARCHAR},
      </if>
      <if test="status != null">
        #{status,jdbcType=INTEGER},
      </if>
      <if test="sort != null">
        #{sort,jdbcType=INTEGER},
      </if>
      <if test="addTime != null">
        #{addTime,jdbcType=TIMESTAMP},
      </if>
      <if test="modifyTime != null">
        #{modifyTime,jdbcType=TIMESTAMP},
      </if>
      <if test="addOperatorId != null">
        #{addOperatorId,jdbcType=INTEGER},
      </if>
      <if test="addOperatorName != null">
        #{addOperatorName,jdbcType=VARCHAR},
      </if>
      <if test="modifyOperatorId != null">
        #{modifyOperatorId,jdbcType=INTEGER},
      </if>
      <if test="modifyOperatorName != null">
        #{modifyOperatorName,jdbcType=VARCHAR},
      </if>
      <if test="isDelete != null">
        #{isDelete,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.duobei.core.message.domain.SmsChannelExample" resultType="java.lang.Long">
    select count(*) from pub_sms_channel sc
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update pub_sms_channel sc
    <set>
      <if test="record.id != null">
        sc.id = #{record.id,jdbcType=INTEGER},
      </if>
      <if test="record.platform != null">
        sc.platform = #{record.platform,jdbcType=VARCHAR},
      </if>
      <if test="record.smsUserfulCode != null">
        sc.sms_userful_code = #{record.smsUserfulCode,jdbcType=VARCHAR},
      </if>
      <if test="record.smsUserfulName != null">
        sc.sms_userful_name = #{record.smsUserfulName,jdbcType=VARCHAR},
      </if>
      <if test="record.smsChannelCode != null">
        sc.sms_channel_code = #{record.smsChannelCode,jdbcType=VARCHAR},
      </if>
      <if test="record.smsChannelName != null">
        sc.sms_channel_name = #{record.smsChannelName,jdbcType=VARCHAR},
      </if>
      <if test="record.smsSign != null">
        sc.sms_sign = #{record.smsSign,jdbcType=VARCHAR},
      </if>
      <if test="record.requestUrl != null">
        sc.request_url = #{record.requestUrl,jdbcType=VARCHAR},
      </if>
      <if test="record.account != null">
        sc.account = #{record.account,jdbcType=VARCHAR},
      </if>
      <if test="record.password != null">
        sc.password = #{record.password,jdbcType=VARCHAR},
      </if>
      <if test="record.status != null">
        sc.status = #{record.status,jdbcType=INTEGER},
      </if>
      <if test="record.sort != null">
        sc.sort = #{record.sort,jdbcType=INTEGER},
      </if>
      <if test="record.addTime != null">
        sc.add_time = #{record.addTime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.modifyTime != null">
        sc.modify_time = #{record.modifyTime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.addOperatorId != null">
        sc.add_operator_id = #{record.addOperatorId,jdbcType=INTEGER},
      </if>
      <if test="record.addOperatorName != null">
        sc.add_operator_name = #{record.addOperatorName,jdbcType=VARCHAR},
      </if>
      <if test="record.modifyOperatorId != null">
        sc.modify_operator_id = #{record.modifyOperatorId,jdbcType=INTEGER},
      </if>
      <if test="record.modifyOperatorName != null">
        sc.modify_operator_name = #{record.modifyOperatorName,jdbcType=VARCHAR},
      </if>
      <if test="record.isDelete != null">
        sc.is_delete = #{record.isDelete,jdbcType=INTEGER},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update pub_sms_channel sc
    set sc.id = #{record.id,jdbcType=INTEGER},
      sc.platform = #{record.platform,jdbcType=VARCHAR},
      sc.sms_userful_code = #{record.smsUserfulCode,jdbcType=VARCHAR},
      sc.sms_userful_name = #{record.smsUserfulName,jdbcType=VARCHAR},
      sc.sms_channel_code = #{record.smsChannelCode,jdbcType=VARCHAR},
      sc.sms_channel_name = #{record.smsChannelName,jdbcType=VARCHAR},
      sc.sms_sign = #{record.smsSign,jdbcType=VARCHAR},
      sc.request_url = #{record.requestUrl,jdbcType=VARCHAR},
      sc.account = #{record.account,jdbcType=VARCHAR},
      sc.password = #{record.password,jdbcType=VARCHAR},
      sc.status = #{record.status,jdbcType=INTEGER},
      sc.sort = #{record.sort,jdbcType=INTEGER},
      sc.add_time = #{record.addTime,jdbcType=TIMESTAMP},
      sc.modify_time = #{record.modifyTime,jdbcType=TIMESTAMP},
      sc.add_operator_id = #{record.addOperatorId,jdbcType=INTEGER},
      sc.add_operator_name = #{record.addOperatorName,jdbcType=VARCHAR},
      sc.modify_operator_id = #{record.modifyOperatorId,jdbcType=INTEGER},
      sc.modify_operator_name = #{record.modifyOperatorName,jdbcType=VARCHAR},
      sc.is_delete = #{record.isDelete,jdbcType=INTEGER}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.duobei.core.message.domain.SmsChannel">
    update pub_sms_channel
    <set>
      <if test="platform != null">
        platform = #{platform,jdbcType=VARCHAR},
      </if>
      <if test="smsUserfulCode != null">
        sms_userful_code = #{smsUserfulCode,jdbcType=VARCHAR},
      </if>
      <if test="smsUserfulName != null">
        sms_userful_name = #{smsUserfulName,jdbcType=VARCHAR},
      </if>
      <if test="smsChannelCode != null">
        sms_channel_code = #{smsChannelCode,jdbcType=VARCHAR},
      </if>
      <if test="smsChannelName != null">
        sms_channel_name = #{smsChannelName,jdbcType=VARCHAR},
      </if>
      <if test="smsSign != null">
        sms_sign = #{smsSign,jdbcType=VARCHAR},
      </if>
      <if test="requestUrl != null">
        request_url = #{requestUrl,jdbcType=VARCHAR},
      </if>
      <if test="account != null">
        account = #{account,jdbcType=VARCHAR},
      </if>
      <if test="password != null">
        password = #{password,jdbcType=VARCHAR},
      </if>
      <if test="status != null">
        status = #{status,jdbcType=INTEGER},
      </if>
      <if test="sort != null">
        sort = #{sort,jdbcType=INTEGER},
      </if>
      <if test="addTime != null">
        add_time = #{addTime,jdbcType=TIMESTAMP},
      </if>
      <if test="modifyTime != null">
        modify_time = #{modifyTime,jdbcType=TIMESTAMP},
      </if>
      <if test="addOperatorId != null">
        add_operator_id = #{addOperatorId,jdbcType=INTEGER},
      </if>
      <if test="addOperatorName != null">
        add_operator_name = #{addOperatorName,jdbcType=VARCHAR},
      </if>
      <if test="modifyOperatorId != null">
        modify_operator_id = #{modifyOperatorId,jdbcType=INTEGER},
      </if>
      <if test="modifyOperatorName != null">
        modify_operator_name = #{modifyOperatorName,jdbcType=VARCHAR},
      </if>
      <if test="isDelete != null">
        is_delete = #{isDelete,jdbcType=INTEGER},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.duobei.core.message.domain.SmsChannel">
    update pub_sms_channel
    set platform = #{platform,jdbcType=VARCHAR},
      sms_userful_code = #{smsUserfulCode,jdbcType=VARCHAR},
      sms_userful_name = #{smsUserfulName,jdbcType=VARCHAR},
      sms_channel_code = #{smsChannelCode,jdbcType=VARCHAR},
      sms_channel_name = #{smsChannelName,jdbcType=VARCHAR},
      sms_sign = #{smsSign,jdbcType=VARCHAR},
      request_url = #{requestUrl,jdbcType=VARCHAR},
      account = #{account,jdbcType=VARCHAR},
      password = #{password,jdbcType=VARCHAR},
      status = #{status,jdbcType=INTEGER},
      sort = #{sort,jdbcType=INTEGER},
      add_time = #{addTime,jdbcType=TIMESTAMP},
      modify_time = #{modifyTime,jdbcType=TIMESTAMP},
      add_operator_id = #{addOperatorId,jdbcType=INTEGER},
      add_operator_name = #{addOperatorName,jdbcType=VARCHAR},
      modify_operator_id = #{modifyOperatorId,jdbcType=INTEGER},
      modify_operator_name = #{modifyOperatorName,jdbcType=VARCHAR},
      is_delete = #{isDelete,jdbcType=INTEGER}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>