<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.duobei.core.auth.dao.mapper.OrganMapper" >
  <resultMap id="BaseResultMap" type="com.duobei.core.auth.domain.Organ" >
    <id column="org_organ_id" property="organId" jdbcType="INTEGER" />
    <result column="org_organ_type_id" property="organTypeId" jdbcType="INTEGER" />
    <result column="org_parent_organ_id" property="parentOrganId" jdbcType="INTEGER" />
    <result column="org_parent_organ_type_id" property="parentOrganTypeId" jdbcType="INTEGER" />
    <result column="org_organ_code" property="organCode" jdbcType="VARCHAR" />
    <result column="org_organ_name" property="organName" jdbcType="VARCHAR" />
    <result column="org_organ_level" property="organLevel" jdbcType="INTEGER" />
    <result column="org_organ_sort" property="organSort" jdbcType="INTEGER" />
    <result column="org_is_parent" property="isParent" jdbcType="BIT" />
    <result column="org_path" property="path" jdbcType="VARCHAR" />
    <result column="org_add_time" property="addTime" jdbcType="TIMESTAMP" />
    <result column="org_modify_time" property="modifyTime" jdbcType="TIMESTAMP" />
    <result column="org_add_operator_id" property="addOperatorId" jdbcType="INTEGER" />
    <result column="org_add_operator_name" property="addOperatorName" jdbcType="VARCHAR" />
    <result column="org_modify_operator_id" property="modifyOperatorId" jdbcType="INTEGER" />
    <result column="org_modify_operator_name" property="modifyOperatorName" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    org.organ_id as org_organ_id, org.organ_type_id as org_organ_type_id, org.parent_organ_id as org_parent_organ_id, 
    org.parent_organ_type_id as org_parent_organ_type_id, org.organ_code as org_organ_code, 
    org.organ_name as org_organ_name, org.organ_level as org_organ_level, org.organ_sort as org_organ_sort, 
    org.is_parent as org_is_parent, org.path as org_path, org.add_time as org_add_time, 
    org.modify_time as org_modify_time, org.add_operator_id as org_add_operator_id, org.add_operator_name as org_add_operator_name, 
    org.modify_operator_id as org_modify_operator_id, org.modify_operator_name as org_modify_operator_name
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.duobei.core.auth.domain.OrganExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from aa_organ org
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from aa_organ org
    where org.organ_id = #{organId,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from aa_organ
    where organ_id = #{organId,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="com.duobei.core.auth.domain.OrganExample" >
    delete from aa_organ org
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.duobei.core.auth.domain.Organ" >
    <selectKey resultType="java.lang.Integer" keyProperty="organId" order="AFTER" >
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into aa_organ (organ_type_id, parent_organ_id, parent_organ_type_id, 
      organ_code, organ_name, organ_level, 
      organ_sort, is_parent, path, 
      add_time, modify_time, add_operator_id, 
      add_operator_name, modify_operator_id, modify_operator_name
      )
    values (#{organTypeId,jdbcType=INTEGER}, #{parentOrganId,jdbcType=INTEGER}, #{parentOrganTypeId,jdbcType=INTEGER}, 
      #{organCode,jdbcType=VARCHAR}, #{organName,jdbcType=VARCHAR}, #{organLevel,jdbcType=INTEGER}, 
      #{organSort,jdbcType=INTEGER}, #{isParent,jdbcType=BIT}, #{path,jdbcType=VARCHAR}, 
      #{addTime,jdbcType=TIMESTAMP}, #{modifyTime,jdbcType=TIMESTAMP}, #{addOperatorId,jdbcType=INTEGER}, 
      #{addOperatorName,jdbcType=VARCHAR}, #{modifyOperatorId,jdbcType=INTEGER}, #{modifyOperatorName,jdbcType=VARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.duobei.core.auth.domain.Organ" >
    <selectKey resultType="java.lang.Integer" keyProperty="organId" order="AFTER" >
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into aa_organ
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="organTypeId != null" >
        organ_type_id,
      </if>
      <if test="parentOrganId != null" >
        parent_organ_id,
      </if>
      <if test="parentOrganTypeId != null" >
        parent_organ_type_id,
      </if>
      <if test="organCode != null" >
        organ_code,
      </if>
      <if test="organName != null" >
        organ_name,
      </if>
      <if test="organLevel != null" >
        organ_level,
      </if>
      <if test="organSort != null" >
        organ_sort,
      </if>
      <if test="isParent != null" >
        is_parent,
      </if>
      <if test="path != null" >
        path,
      </if>
      <if test="addTime != null" >
        add_time,
      </if>
      <if test="modifyTime != null" >
        modify_time,
      </if>
      <if test="addOperatorId != null" >
        add_operator_id,
      </if>
      <if test="addOperatorName != null" >
        add_operator_name,
      </if>
      <if test="modifyOperatorId != null" >
        modify_operator_id,
      </if>
      <if test="modifyOperatorName != null" >
        modify_operator_name,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="organTypeId != null" >
        #{organTypeId,jdbcType=INTEGER},
      </if>
      <if test="parentOrganId != null" >
        #{parentOrganId,jdbcType=INTEGER},
      </if>
      <if test="parentOrganTypeId != null" >
        #{parentOrganTypeId,jdbcType=INTEGER},
      </if>
      <if test="organCode != null" >
        #{organCode,jdbcType=VARCHAR},
      </if>
      <if test="organName != null" >
        #{organName,jdbcType=VARCHAR},
      </if>
      <if test="organLevel != null" >
        #{organLevel,jdbcType=INTEGER},
      </if>
      <if test="organSort != null" >
        #{organSort,jdbcType=INTEGER},
      </if>
      <if test="isParent != null" >
        #{isParent,jdbcType=BIT},
      </if>
      <if test="path != null" >
        #{path,jdbcType=VARCHAR},
      </if>
      <if test="addTime != null" >
        #{addTime,jdbcType=TIMESTAMP},
      </if>
      <if test="modifyTime != null" >
        #{modifyTime,jdbcType=TIMESTAMP},
      </if>
      <if test="addOperatorId != null" >
        #{addOperatorId,jdbcType=INTEGER},
      </if>
      <if test="addOperatorName != null" >
        #{addOperatorName,jdbcType=VARCHAR},
      </if>
      <if test="modifyOperatorId != null" >
        #{modifyOperatorId,jdbcType=INTEGER},
      </if>
      <if test="modifyOperatorName != null" >
        #{modifyOperatorName,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.duobei.core.auth.domain.OrganExample" resultType="java.lang.Integer" >
    select count(*) from aa_organ org
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update aa_organ org
    <set >
      <if test="record.organId != null" >
        org.organ_id = #{record.organId,jdbcType=INTEGER},
      </if>
      <if test="record.organTypeId != null" >
        org.organ_type_id = #{record.organTypeId,jdbcType=INTEGER},
      </if>
      <if test="record.parentOrganId != null" >
        org.parent_organ_id = #{record.parentOrganId,jdbcType=INTEGER},
      </if>
      <if test="record.parentOrganTypeId != null" >
        org.parent_organ_type_id = #{record.parentOrganTypeId,jdbcType=INTEGER},
      </if>
      <if test="record.organCode != null" >
        org.organ_code = #{record.organCode,jdbcType=VARCHAR},
      </if>
      <if test="record.organName != null" >
        org.organ_name = #{record.organName,jdbcType=VARCHAR},
      </if>
      <if test="record.organLevel != null" >
        org.organ_level = #{record.organLevel,jdbcType=INTEGER},
      </if>
      <if test="record.organSort != null" >
        org.organ_sort = #{record.organSort,jdbcType=INTEGER},
      </if>
      <if test="record.isParent != null" >
        org.is_parent = #{record.isParent,jdbcType=BIT},
      </if>
      <if test="record.path != null" >
        org.path = #{record.path,jdbcType=VARCHAR},
      </if>
      <if test="record.addTime != null" >
        org.add_time = #{record.addTime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.modifyTime != null" >
        org.modify_time = #{record.modifyTime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.addOperatorId != null" >
        org.add_operator_id = #{record.addOperatorId,jdbcType=INTEGER},
      </if>
      <if test="record.addOperatorName != null" >
        org.add_operator_name = #{record.addOperatorName,jdbcType=VARCHAR},
      </if>
      <if test="record.modifyOperatorId != null" >
        org.modify_operator_id = #{record.modifyOperatorId,jdbcType=INTEGER},
      </if>
      <if test="record.modifyOperatorName != null" >
        org.modify_operator_name = #{record.modifyOperatorName,jdbcType=VARCHAR},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update aa_organ org
    set org.organ_id = #{record.organId,jdbcType=INTEGER},
      org.organ_type_id = #{record.organTypeId,jdbcType=INTEGER},
      org.parent_organ_id = #{record.parentOrganId,jdbcType=INTEGER},
      org.parent_organ_type_id = #{record.parentOrganTypeId,jdbcType=INTEGER},
      org.organ_code = #{record.organCode,jdbcType=VARCHAR},
      org.organ_name = #{record.organName,jdbcType=VARCHAR},
      org.organ_level = #{record.organLevel,jdbcType=INTEGER},
      org.organ_sort = #{record.organSort,jdbcType=INTEGER},
      org.is_parent = #{record.isParent,jdbcType=BIT},
      org.path = #{record.path,jdbcType=VARCHAR},
      org.add_time = #{record.addTime,jdbcType=TIMESTAMP},
      org.modify_time = #{record.modifyTime,jdbcType=TIMESTAMP},
      org.add_operator_id = #{record.addOperatorId,jdbcType=INTEGER},
      org.add_operator_name = #{record.addOperatorName,jdbcType=VARCHAR},
      org.modify_operator_id = #{record.modifyOperatorId,jdbcType=INTEGER},
      org.modify_operator_name = #{record.modifyOperatorName,jdbcType=VARCHAR}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.duobei.core.auth.domain.Organ" >
    update aa_organ
    <set >
      <if test="organTypeId != null" >
        organ_type_id = #{organTypeId,jdbcType=INTEGER},
      </if>
      <if test="parentOrganId != null" >
        parent_organ_id = #{parentOrganId,jdbcType=INTEGER},
      </if>
      <if test="parentOrganTypeId != null" >
        parent_organ_type_id = #{parentOrganTypeId,jdbcType=INTEGER},
      </if>
      <if test="organCode != null" >
        organ_code = #{organCode,jdbcType=VARCHAR},
      </if>
      <if test="organName != null" >
        organ_name = #{organName,jdbcType=VARCHAR},
      </if>
      <if test="organLevel != null" >
        organ_level = #{organLevel,jdbcType=INTEGER},
      </if>
      <if test="organSort != null" >
        organ_sort = #{organSort,jdbcType=INTEGER},
      </if>
      <if test="isParent != null" >
        is_parent = #{isParent,jdbcType=BIT},
      </if>
      <if test="path != null" >
        path = #{path,jdbcType=VARCHAR},
      </if>
      <if test="addTime != null" >
        add_time = #{addTime,jdbcType=TIMESTAMP},
      </if>
      <if test="modifyTime != null" >
        modify_time = #{modifyTime,jdbcType=TIMESTAMP},
      </if>
      <if test="addOperatorId != null" >
        add_operator_id = #{addOperatorId,jdbcType=INTEGER},
      </if>
      <if test="addOperatorName != null" >
        add_operator_name = #{addOperatorName,jdbcType=VARCHAR},
      </if>
      <if test="modifyOperatorId != null" >
        modify_operator_id = #{modifyOperatorId,jdbcType=INTEGER},
      </if>
      <if test="modifyOperatorName != null" >
        modify_operator_name = #{modifyOperatorName,jdbcType=VARCHAR},
      </if>
    </set>
    where organ_id = #{organId,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.duobei.core.auth.domain.Organ" >
    update aa_organ
    set organ_type_id = #{organTypeId,jdbcType=INTEGER},
      parent_organ_id = #{parentOrganId,jdbcType=INTEGER},
      parent_organ_type_id = #{parentOrganTypeId,jdbcType=INTEGER},
      organ_code = #{organCode,jdbcType=VARCHAR},
      organ_name = #{organName,jdbcType=VARCHAR},
      organ_level = #{organLevel,jdbcType=INTEGER},
      organ_sort = #{organSort,jdbcType=INTEGER},
      is_parent = #{isParent,jdbcType=BIT},
      path = #{path,jdbcType=VARCHAR},
      add_time = #{addTime,jdbcType=TIMESTAMP},
      modify_time = #{modifyTime,jdbcType=TIMESTAMP},
      add_operator_id = #{addOperatorId,jdbcType=INTEGER},
      add_operator_name = #{addOperatorName,jdbcType=VARCHAR},
      modify_operator_id = #{modifyOperatorId,jdbcType=INTEGER},
      modify_operator_name = #{modifyOperatorName,jdbcType=VARCHAR}
    where organ_id = #{organId,jdbcType=INTEGER}
  </update>
</mapper>