<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.duobei.core.operation.activity.dao.mapper.ActivityStaticMapper">
  <resultMap id="BaseResultMap" type="com.duobei.core.operation.activity.domain.ActivityStatic">
    <result column="a_act_id" jdbcType="INTEGER" property="actId" />
    <result column="a_btn_type" jdbcType="VARCHAR" property="btnType" />
    <result column="a_btn_text" jdbcType="VARCHAR" property="btnText" />
    <result column="a_btn_colour" jdbcType="VARCHAR" property="btnColour" />
    <result column="a_btn_img" jdbcType="VARCHAR" property="btnImg" />
    <result column="a_jump_type" jdbcType="VARCHAR" property="jumpType" />
    <result column="a_jump_link" jdbcType="VARCHAR" property="jumpLink" />
    <result column="a_add_time" jdbcType="TIMESTAMP" property="addTime" />
    <result column="a_modify_time" jdbcType="TIMESTAMP" property="modifyTime" />
    <result column="a_add_operator_id" jdbcType="INTEGER" property="addOperatorId" />
    <result column="a_modify_operator_id" jdbcType="INTEGER" property="modifyOperatorId" />
    <result column="a_rule_enable" jdbcType="TINYINT" property="ruleEnable" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    a.act_id as a_act_id, a.btn_type as a_btn_type, a.btn_text as a_btn_text, a.btn_colour as a_btn_colour, 
    a.btn_img as a_btn_img, a.jump_type as a_jump_type, a.jump_link as a_jump_link, a.add_time as a_add_time, 
    a.modify_time as a_modify_time, a.add_operator_id as a_add_operator_id, a.modify_operator_id as a_modify_operator_id, 
    a.rule_enable as a_rule_enable
  </sql>
  <select id="selectByExample" parameterType="com.duobei.core.operation.activity.domain.ActivityStaticExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from yy_activity_static a
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <delete id="deleteByExample" parameterType="com.duobei.core.operation.activity.domain.ActivityStaticExample">
    delete from yy_activity_static a
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.duobei.core.operation.activity.domain.ActivityStatic">
    insert into yy_activity_static (act_id, btn_type, btn_text, 
      btn_colour, btn_img, jump_type, 
      jump_link, add_time, modify_time, 
      add_operator_id, modify_operator_id, rule_enable
      )
    values (#{actId,jdbcType=INTEGER}, #{btnType,jdbcType=VARCHAR}, #{btnText,jdbcType=VARCHAR}, 
      #{btnColour,jdbcType=VARCHAR}, #{btnImg,jdbcType=VARCHAR}, #{jumpType,jdbcType=VARCHAR}, 
      #{jumpLink,jdbcType=VARCHAR}, #{addTime,jdbcType=TIMESTAMP}, #{modifyTime,jdbcType=TIMESTAMP}, 
      #{addOperatorId,jdbcType=INTEGER}, #{modifyOperatorId,jdbcType=INTEGER}, #{ruleEnable,jdbcType=TINYINT}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.duobei.core.operation.activity.domain.ActivityStatic">
    insert into yy_activity_static
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="actId != null">
        act_id,
      </if>
      <if test="btnType != null">
        btn_type,
      </if>
      <if test="btnText != null">
        btn_text,
      </if>
      <if test="btnColour != null">
        btn_colour,
      </if>
      <if test="btnImg != null">
        btn_img,
      </if>
      <if test="jumpType != null">
        jump_type,
      </if>
      <if test="jumpLink != null">
        jump_link,
      </if>
      <if test="addTime != null">
        add_time,
      </if>
      <if test="modifyTime != null">
        modify_time,
      </if>
      <if test="addOperatorId != null">
        add_operator_id,
      </if>
      <if test="modifyOperatorId != null">
        modify_operator_id,
      </if>
      <if test="ruleEnable != null">
        rule_enable,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="actId != null">
        #{actId,jdbcType=INTEGER},
      </if>
      <if test="btnType != null">
        #{btnType,jdbcType=VARCHAR},
      </if>
      <if test="btnText != null">
        #{btnText,jdbcType=VARCHAR},
      </if>
      <if test="btnColour != null">
        #{btnColour,jdbcType=VARCHAR},
      </if>
      <if test="btnImg != null">
        #{btnImg,jdbcType=VARCHAR},
      </if>
      <if test="jumpType != null">
        #{jumpType,jdbcType=VARCHAR},
      </if>
      <if test="jumpLink != null">
        #{jumpLink,jdbcType=VARCHAR},
      </if>
      <if test="addTime != null">
        #{addTime,jdbcType=TIMESTAMP},
      </if>
      <if test="modifyTime != null">
        #{modifyTime,jdbcType=TIMESTAMP},
      </if>
      <if test="addOperatorId != null">
        #{addOperatorId,jdbcType=INTEGER},
      </if>
      <if test="modifyOperatorId != null">
        #{modifyOperatorId,jdbcType=INTEGER},
      </if>
      <if test="ruleEnable != null">
        #{ruleEnable,jdbcType=TINYINT},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.duobei.core.operation.activity.domain.ActivityStaticExample" resultType="java.lang.Long">
    select count(*) from yy_activity_static a
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update yy_activity_static a
    <set>
      <if test="record.actId != null">
        a.act_id = #{record.actId,jdbcType=INTEGER},
      </if>
      <if test="record.btnType != null">
        a.btn_type = #{record.btnType,jdbcType=VARCHAR},
      </if>
      <if test="record.btnText != null">
        a.btn_text = #{record.btnText,jdbcType=VARCHAR},
      </if>
      <if test="record.btnColour != null">
        a.btn_colour = #{record.btnColour,jdbcType=VARCHAR},
      </if>
      <if test="record.btnImg != null">
        a.btn_img = #{record.btnImg,jdbcType=VARCHAR},
      </if>
      <if test="record.jumpType != null">
        a.jump_type = #{record.jumpType,jdbcType=VARCHAR},
      </if>
      <if test="record.jumpLink != null">
        a.jump_link = #{record.jumpLink,jdbcType=VARCHAR},
      </if>
      <if test="record.addTime != null">
        a.add_time = #{record.addTime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.modifyTime != null">
        a.modify_time = #{record.modifyTime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.addOperatorId != null">
        a.add_operator_id = #{record.addOperatorId,jdbcType=INTEGER},
      </if>
      <if test="record.modifyOperatorId != null">
        a.modify_operator_id = #{record.modifyOperatorId,jdbcType=INTEGER},
      </if>
      <if test="record.ruleEnable != null">
        a.rule_enable = #{record.ruleEnable,jdbcType=TINYINT},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update yy_activity_static a
    set a.act_id = #{record.actId,jdbcType=INTEGER},
      a.btn_type = #{record.btnType,jdbcType=VARCHAR},
      a.btn_text = #{record.btnText,jdbcType=VARCHAR},
      a.btn_colour = #{record.btnColour,jdbcType=VARCHAR},
      a.btn_img = #{record.btnImg,jdbcType=VARCHAR},
      a.jump_type = #{record.jumpType,jdbcType=VARCHAR},
      a.jump_link = #{record.jumpLink,jdbcType=VARCHAR},
      a.add_time = #{record.addTime,jdbcType=TIMESTAMP},
      a.modify_time = #{record.modifyTime,jdbcType=TIMESTAMP},
      a.add_operator_id = #{record.addOperatorId,jdbcType=INTEGER},
      a.modify_operator_id = #{record.modifyOperatorId,jdbcType=INTEGER},
      a.rule_enable = #{record.ruleEnable,jdbcType=TINYINT}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
</mapper>