<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.duobei.core.operation.activity.dao.mapper.ActivityPrizeMapper">
  <resultMap id="BaseResultMap" type="com.duobei.core.operation.activity.domain.ActivityPrize">
    <id column="a_prize_id" jdbcType="INTEGER" property="prizeId" />
    <result column="a_prize_name" jdbcType="VARCHAR" property="prizeName" />
    <result column="a_prize_type" jdbcType="VARCHAR" property="prizeType" />
    <result column="a_coupon_id" jdbcType="BIGINT" property="couponId" />
    <result column="a_money" jdbcType="DECIMAL" property="money" />
    <result column="a_img_url" jdbcType="VARCHAR" property="imgUrl" />
    <result column="a_link" jdbcType="VARCHAR" property="link" />
    <result column="a_is_jump" jdbcType="INTEGER" property="isJump" />
    <result column="a_is_delete" jdbcType="INTEGER" property="isDelete" />
    <result column="a_create_by" jdbcType="VARCHAR" property="createBy" />
    <result column="a_create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="a_update_by" jdbcType="VARCHAR" property="updateBy" />
    <result column="a_update_time" jdbcType="TIMESTAMP" property="updateTime" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    a.prize_id as a_prize_id, a.prize_name as a_prize_name, a.prize_type as a_prize_type, 
    a.coupon_id as a_coupon_id, a.money as a_money, a.img_url as a_img_url, a.link as a_link, 
    a.is_jump as a_is_jump, a.is_delete as a_is_delete, a.create_by as a_create_by, a.create_time as a_create_time, 
    a.update_by as a_update_by, a.update_time as a_update_time
  </sql>
  <select id="selectByExample" parameterType="com.duobei.core.operation.activity.domain.ActivityPrizeExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from yy_activity_prize a
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from yy_activity_prize a
    where a.prize_id = #{prizeId,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from yy_activity_prize
    where prize_id = #{prizeId,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="com.duobei.core.operation.activity.domain.ActivityPrizeExample">
    delete from yy_activity_prize a
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.duobei.core.operation.activity.domain.ActivityPrize">
    insert into yy_activity_prize (prize_id, prize_name, prize_type, 
      coupon_id, money, img_url, 
      link, is_jump, is_delete, 
      create_by, create_time, update_by, 
      update_time)
    values (#{prizeId,jdbcType=INTEGER}, #{prizeName,jdbcType=VARCHAR}, #{prizeType,jdbcType=VARCHAR}, 
      #{couponId,jdbcType=BIGINT}, #{money,jdbcType=DECIMAL}, #{imgUrl,jdbcType=VARCHAR}, 
      #{link,jdbcType=VARCHAR}, #{isJump,jdbcType=INTEGER}, #{isDelete,jdbcType=INTEGER}, 
      #{createBy,jdbcType=VARCHAR}, #{createTime,jdbcType=TIMESTAMP}, #{updateBy,jdbcType=VARCHAR}, 
      #{updateTime,jdbcType=TIMESTAMP})
  </insert>
  <insert id="insertSelective" parameterType="com.duobei.core.operation.activity.domain.ActivityPrize">
    insert into yy_activity_prize
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="prizeId != null">
        prize_id,
      </if>
      <if test="prizeName != null">
        prize_name,
      </if>
      <if test="prizeType != null">
        prize_type,
      </if>
      <if test="couponId != null">
        coupon_id,
      </if>
      <if test="money != null">
        money,
      </if>
      <if test="imgUrl != null">
        img_url,
      </if>
      <if test="link != null">
        link,
      </if>
      <if test="isJump != null">
        is_jump,
      </if>
      <if test="isDelete != null">
        is_delete,
      </if>
      <if test="createBy != null">
        create_by,
      </if>
      <if test="createTime != null">
        create_time,
      </if>
      <if test="updateBy != null">
        update_by,
      </if>
      <if test="updateTime != null">
        update_time,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="prizeId != null">
        #{prizeId,jdbcType=INTEGER},
      </if>
      <if test="prizeName != null">
        #{prizeName,jdbcType=VARCHAR},
      </if>
      <if test="prizeType != null">
        #{prizeType,jdbcType=VARCHAR},
      </if>
      <if test="couponId != null">
        #{couponId,jdbcType=BIGINT},
      </if>
      <if test="money != null">
        #{money,jdbcType=DECIMAL},
      </if>
      <if test="imgUrl != null">
        #{imgUrl,jdbcType=VARCHAR},
      </if>
      <if test="link != null">
        #{link,jdbcType=VARCHAR},
      </if>
      <if test="isJump != null">
        #{isJump,jdbcType=INTEGER},
      </if>
      <if test="isDelete != null">
        #{isDelete,jdbcType=INTEGER},
      </if>
      <if test="createBy != null">
        #{createBy,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null">
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateBy != null">
        #{updateBy,jdbcType=VARCHAR},
      </if>
      <if test="updateTime != null">
        #{updateTime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.duobei.core.operation.activity.domain.ActivityPrizeExample" resultType="java.lang.Long">
    select count(*) from yy_activity_prize a
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update yy_activity_prize a
    <set>
      <if test="record.prizeId != null">
        a.prize_id = #{record.prizeId,jdbcType=INTEGER},
      </if>
      <if test="record.prizeName != null">
        a.prize_name = #{record.prizeName,jdbcType=VARCHAR},
      </if>
      <if test="record.prizeType != null">
        a.prize_type = #{record.prizeType,jdbcType=VARCHAR},
      </if>
      <if test="record.couponId != null">
        a.coupon_id = #{record.couponId,jdbcType=BIGINT},
      </if>
      <if test="record.money != null">
        a.money = #{record.money,jdbcType=DECIMAL},
      </if>
      <if test="record.imgUrl != null">
        a.img_url = #{record.imgUrl,jdbcType=VARCHAR},
      </if>
      <if test="record.link != null">
        a.link = #{record.link,jdbcType=VARCHAR},
      </if>
      <if test="record.isJump != null">
        a.is_jump = #{record.isJump,jdbcType=INTEGER},
      </if>
      <if test="record.isDelete != null">
        a.is_delete = #{record.isDelete,jdbcType=INTEGER},
      </if>
      <if test="record.createBy != null">
        a.create_by = #{record.createBy,jdbcType=VARCHAR},
      </if>
      <if test="record.createTime != null">
        a.create_time = #{record.createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.updateBy != null">
        a.update_by = #{record.updateBy,jdbcType=VARCHAR},
      </if>
      <if test="record.updateTime != null">
        a.update_time = #{record.updateTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update yy_activity_prize a
    set a.prize_id = #{record.prizeId,jdbcType=INTEGER},
      a.prize_name = #{record.prizeName,jdbcType=VARCHAR},
      a.prize_type = #{record.prizeType,jdbcType=VARCHAR},
      a.coupon_id = #{record.couponId,jdbcType=BIGINT},
      a.money = #{record.money,jdbcType=DECIMAL},
      a.img_url = #{record.imgUrl,jdbcType=VARCHAR},
      a.link = #{record.link,jdbcType=VARCHAR},
      a.is_jump = #{record.isJump,jdbcType=INTEGER},
      a.is_delete = #{record.isDelete,jdbcType=INTEGER},
      a.create_by = #{record.createBy,jdbcType=VARCHAR},
      a.create_time = #{record.createTime,jdbcType=TIMESTAMP},
      a.update_by = #{record.updateBy,jdbcType=VARCHAR},
      a.update_time = #{record.updateTime,jdbcType=TIMESTAMP}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.duobei.core.operation.activity.domain.ActivityPrize">
    update yy_activity_prize
    <set>
      <if test="prizeName != null">
        prize_name = #{prizeName,jdbcType=VARCHAR},
      </if>
      <if test="prizeType != null">
        prize_type = #{prizeType,jdbcType=VARCHAR},
      </if>
      <if test="couponId != null">
        coupon_id = #{couponId,jdbcType=BIGINT},
      </if>
      <if test="money != null">
        money = #{money,jdbcType=DECIMAL},
      </if>
      <if test="imgUrl != null">
        img_url = #{imgUrl,jdbcType=VARCHAR},
      </if>
      <if test="link != null">
        link = #{link,jdbcType=VARCHAR},
      </if>
      <if test="isJump != null">
        is_jump = #{isJump,jdbcType=INTEGER},
      </if>
      <if test="isDelete != null">
        is_delete = #{isDelete,jdbcType=INTEGER},
      </if>
      <if test="createBy != null">
        create_by = #{createBy,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null">
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateBy != null">
        update_by = #{updateBy,jdbcType=VARCHAR},
      </if>
      <if test="updateTime != null">
        update_time = #{updateTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where prize_id = #{prizeId,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.duobei.core.operation.activity.domain.ActivityPrize">
    update yy_activity_prize
    set prize_name = #{prizeName,jdbcType=VARCHAR},
      prize_type = #{prizeType,jdbcType=VARCHAR},
      coupon_id = #{couponId,jdbcType=BIGINT},
      money = #{money,jdbcType=DECIMAL},
      img_url = #{imgUrl,jdbcType=VARCHAR},
      link = #{link,jdbcType=VARCHAR},
      is_jump = #{isJump,jdbcType=INTEGER},
      is_delete = #{isDelete,jdbcType=INTEGER},
      create_by = #{createBy,jdbcType=VARCHAR},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      update_by = #{updateBy,jdbcType=VARCHAR},
      update_time = #{updateTime,jdbcType=TIMESTAMP}
    where prize_id = #{prizeId,jdbcType=INTEGER}
  </update>
</mapper>