<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.duobei.core.operation.activity.dao.mapper.ActivityMapper">
  <resultMap id="BaseResultMap" type="com.duobei.core.operation.activity.domain.Activity">
    <id column="a_act_id" jdbcType="INTEGER" property="actId" />
    <result column="a_at_code" jdbcType="VARCHAR" property="atCode" />
    <result column="a_act_name" jdbcType="VARCHAR" property="actName" />
    <result column="a_rule" jdbcType="VARCHAR" property="rule" />
    <result column="a_time_enable" jdbcType="INTEGER" property="timeEnable" />
    <result column="a_start_time" jdbcType="TIMESTAMP" property="startTime" />
    <result column="a_end_time" jdbcType="TIMESTAMP" property="endTime" />
    <result column="a_day_share_add_times" jdbcType="INTEGER" property="dayShareAddTimes" />
    <result column="a_day_share_limit" jdbcType="INTEGER" property="dayShareLimit" />
    <result column="a_day_init_times" jdbcType="INTEGER" property="dayInitTimes" />
    <result column="a_user_limit" jdbcType="INTEGER" property="userLimit" />
    <result column="a_code" jdbcType="VARCHAR" property="code" />
    <result column="a_is_delete" jdbcType="INTEGER" property="isDelete" />
    <result column="a_add_time" jdbcType="TIMESTAMP" property="addTime" />
    <result column="a_modify_time" jdbcType="TIMESTAMP" property="modifyTime" />
    <result column="a_add_operator_id" jdbcType="INTEGER" property="addOperatorId" />
    <result column="a_modify_operator_id" jdbcType="INTEGER" property="modifyOperatorId" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    a.act_id as a_act_id, a.at_code as a_at_code, a.act_name as a_act_name, a.rule as a_rule, 
    a.time_enable as a_time_enable, a.start_time as a_start_time, a.end_time as a_end_time, 
    a.day_share_add_times as a_day_share_add_times, a.day_share_limit as a_day_share_limit, 
    a.day_init_times as a_day_init_times, a.user_limit as a_user_limit, a.code as a_code, 
    a.is_delete as a_is_delete, a.add_time as a_add_time, a.modify_time as a_modify_time, 
    a.add_operator_id as a_add_operator_id, a.modify_operator_id as a_modify_operator_id
  </sql>
  <select id="selectByExample" parameterType="com.duobei.core.operation.activity.domain.ActivityExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from yy_activity a
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from yy_activity a
    where a.act_id = #{actId,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from yy_activity
    where act_id = #{actId,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="com.duobei.core.operation.activity.domain.ActivityExample">
    delete from yy_activity a
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.duobei.core.operation.activity.domain.Activity">
    insert into yy_activity (act_id, at_code, act_name, 
      rule, time_enable, start_time, 
      end_time, day_share_add_times, day_share_limit, 
      day_init_times, user_limit, code, 
      is_delete, add_time, modify_time, 
      add_operator_id, modify_operator_id)
    values (#{actId,jdbcType=INTEGER}, #{atCode,jdbcType=VARCHAR}, #{actName,jdbcType=VARCHAR}, 
      #{rule,jdbcType=VARCHAR}, #{timeEnable,jdbcType=INTEGER}, #{startTime,jdbcType=TIMESTAMP}, 
      #{endTime,jdbcType=TIMESTAMP}, #{dayShareAddTimes,jdbcType=INTEGER}, #{dayShareLimit,jdbcType=INTEGER}, 
      #{dayInitTimes,jdbcType=INTEGER}, #{userLimit,jdbcType=INTEGER}, #{code,jdbcType=VARCHAR}, 
      #{isDelete,jdbcType=INTEGER}, #{addTime,jdbcType=TIMESTAMP}, #{modifyTime,jdbcType=TIMESTAMP}, 
      #{addOperatorId,jdbcType=INTEGER}, #{modifyOperatorId,jdbcType=INTEGER})
  </insert>
  <insert id="insertSelective" parameterType="com.duobei.core.operation.activity.domain.Activity">
    insert into yy_activity
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="actId != null">
        act_id,
      </if>
      <if test="atCode != null">
        at_code,
      </if>
      <if test="actName != null">
        act_name,
      </if>
      <if test="rule != null">
        rule,
      </if>
      <if test="timeEnable != null">
        time_enable,
      </if>
      <if test="startTime != null">
        start_time,
      </if>
      <if test="endTime != null">
        end_time,
      </if>
      <if test="dayShareAddTimes != null">
        day_share_add_times,
      </if>
      <if test="dayShareLimit != null">
        day_share_limit,
      </if>
      <if test="dayInitTimes != null">
        day_init_times,
      </if>
      <if test="userLimit != null">
        user_limit,
      </if>
      <if test="code != null">
        code,
      </if>
      <if test="isDelete != null">
        is_delete,
      </if>
      <if test="addTime != null">
        add_time,
      </if>
      <if test="modifyTime != null">
        modify_time,
      </if>
      <if test="addOperatorId != null">
        add_operator_id,
      </if>
      <if test="modifyOperatorId != null">
        modify_operator_id,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="actId != null">
        #{actId,jdbcType=INTEGER},
      </if>
      <if test="atCode != null">
        #{atCode,jdbcType=VARCHAR},
      </if>
      <if test="actName != null">
        #{actName,jdbcType=VARCHAR},
      </if>
      <if test="rule != null">
        #{rule,jdbcType=VARCHAR},
      </if>
      <if test="timeEnable != null">
        #{timeEnable,jdbcType=INTEGER},
      </if>
      <if test="startTime != null">
        #{startTime,jdbcType=TIMESTAMP},
      </if>
      <if test="endTime != null">
        #{endTime,jdbcType=TIMESTAMP},
      </if>
      <if test="dayShareAddTimes != null">
        #{dayShareAddTimes,jdbcType=INTEGER},
      </if>
      <if test="dayShareLimit != null">
        #{dayShareLimit,jdbcType=INTEGER},
      </if>
      <if test="dayInitTimes != null">
        #{dayInitTimes,jdbcType=INTEGER},
      </if>
      <if test="userLimit != null">
        #{userLimit,jdbcType=INTEGER},
      </if>
      <if test="code != null">
        #{code,jdbcType=VARCHAR},
      </if>
      <if test="isDelete != null">
        #{isDelete,jdbcType=INTEGER},
      </if>
      <if test="addTime != null">
        #{addTime,jdbcType=TIMESTAMP},
      </if>
      <if test="modifyTime != null">
        #{modifyTime,jdbcType=TIMESTAMP},
      </if>
      <if test="addOperatorId != null">
        #{addOperatorId,jdbcType=INTEGER},
      </if>
      <if test="modifyOperatorId != null">
        #{modifyOperatorId,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.duobei.core.operation.activity.domain.ActivityExample" resultType="java.lang.Long">
    select count(*) from yy_activity a
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update yy_activity a
    <set>
      <if test="record.actId != null">
        a.act_id = #{record.actId,jdbcType=INTEGER},
      </if>
      <if test="record.atCode != null">
        a.at_code = #{record.atCode,jdbcType=VARCHAR},
      </if>
      <if test="record.actName != null">
        a.act_name = #{record.actName,jdbcType=VARCHAR},
      </if>
      <if test="record.rule != null">
        a.rule = #{record.rule,jdbcType=VARCHAR},
      </if>
      <if test="record.timeEnable != null">
        a.time_enable = #{record.timeEnable,jdbcType=INTEGER},
      </if>
      <if test="record.startTime != null">
        a.start_time = #{record.startTime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.endTime != null">
        a.end_time = #{record.endTime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.dayShareAddTimes != null">
        a.day_share_add_times = #{record.dayShareAddTimes,jdbcType=INTEGER},
      </if>
      <if test="record.dayShareLimit != null">
        a.day_share_limit = #{record.dayShareLimit,jdbcType=INTEGER},
      </if>
      <if test="record.dayInitTimes != null">
        a.day_init_times = #{record.dayInitTimes,jdbcType=INTEGER},
      </if>
      <if test="record.userLimit != null">
        a.user_limit = #{record.userLimit,jdbcType=INTEGER},
      </if>
      <if test="record.code != null">
        a.code = #{record.code,jdbcType=VARCHAR},
      </if>
      <if test="record.isDelete != null">
        a.is_delete = #{record.isDelete,jdbcType=INTEGER},
      </if>
      <if test="record.addTime != null">
        a.add_time = #{record.addTime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.modifyTime != null">
        a.modify_time = #{record.modifyTime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.addOperatorId != null">
        a.add_operator_id = #{record.addOperatorId,jdbcType=INTEGER},
      </if>
      <if test="record.modifyOperatorId != null">
        a.modify_operator_id = #{record.modifyOperatorId,jdbcType=INTEGER},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update yy_activity a
    set a.act_id = #{record.actId,jdbcType=INTEGER},
      a.at_code = #{record.atCode,jdbcType=VARCHAR},
      a.act_name = #{record.actName,jdbcType=VARCHAR},
      a.rule = #{record.rule,jdbcType=VARCHAR},
      a.time_enable = #{record.timeEnable,jdbcType=INTEGER},
      a.start_time = #{record.startTime,jdbcType=TIMESTAMP},
      a.end_time = #{record.endTime,jdbcType=TIMESTAMP},
      a.day_share_add_times = #{record.dayShareAddTimes,jdbcType=INTEGER},
      a.day_share_limit = #{record.dayShareLimit,jdbcType=INTEGER},
      a.day_init_times = #{record.dayInitTimes,jdbcType=INTEGER},
      a.user_limit = #{record.userLimit,jdbcType=INTEGER},
      a.code = #{record.code,jdbcType=VARCHAR},
      a.is_delete = #{record.isDelete,jdbcType=INTEGER},
      a.add_time = #{record.addTime,jdbcType=TIMESTAMP},
      a.modify_time = #{record.modifyTime,jdbcType=TIMESTAMP},
      a.add_operator_id = #{record.addOperatorId,jdbcType=INTEGER},
      a.modify_operator_id = #{record.modifyOperatorId,jdbcType=INTEGER}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.duobei.core.operation.activity.domain.Activity">
    update yy_activity
    <set>
      <if test="atCode != null">
        at_code = #{atCode,jdbcType=VARCHAR},
      </if>
      <if test="actName != null">
        act_name = #{actName,jdbcType=VARCHAR},
      </if>
      <if test="rule != null">
        rule = #{rule,jdbcType=VARCHAR},
      </if>
      <if test="timeEnable != null">
        time_enable = #{timeEnable,jdbcType=INTEGER},
      </if>
      <if test="startTime != null">
        start_time = #{startTime,jdbcType=TIMESTAMP},
      </if>
      <if test="endTime != null">
        end_time = #{endTime,jdbcType=TIMESTAMP},
      </if>
      <if test="dayShareAddTimes != null">
        day_share_add_times = #{dayShareAddTimes,jdbcType=INTEGER},
      </if>
      <if test="dayShareLimit != null">
        day_share_limit = #{dayShareLimit,jdbcType=INTEGER},
      </if>
      <if test="dayInitTimes != null">
        day_init_times = #{dayInitTimes,jdbcType=INTEGER},
      </if>
      <if test="userLimit != null">
        user_limit = #{userLimit,jdbcType=INTEGER},
      </if>
      <if test="code != null">
        code = #{code,jdbcType=VARCHAR},
      </if>
      <if test="isDelete != null">
        is_delete = #{isDelete,jdbcType=INTEGER},
      </if>
      <if test="addTime != null">
        add_time = #{addTime,jdbcType=TIMESTAMP},
      </if>
      <if test="modifyTime != null">
        modify_time = #{modifyTime,jdbcType=TIMESTAMP},
      </if>
      <if test="addOperatorId != null">
        add_operator_id = #{addOperatorId,jdbcType=INTEGER},
      </if>
      <if test="modifyOperatorId != null">
        modify_operator_id = #{modifyOperatorId,jdbcType=INTEGER},
      </if>
    </set>
    where act_id = #{actId,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.duobei.core.operation.activity.domain.Activity">
    update yy_activity
    set at_code = #{atCode,jdbcType=VARCHAR},
      act_name = #{actName,jdbcType=VARCHAR},
      rule = #{rule,jdbcType=VARCHAR},
      time_enable = #{timeEnable,jdbcType=INTEGER},
      start_time = #{startTime,jdbcType=TIMESTAMP},
      end_time = #{endTime,jdbcType=TIMESTAMP},
      day_share_add_times = #{dayShareAddTimes,jdbcType=INTEGER},
      day_share_limit = #{dayShareLimit,jdbcType=INTEGER},
      day_init_times = #{dayInitTimes,jdbcType=INTEGER},
      user_limit = #{userLimit,jdbcType=INTEGER},
      code = #{code,jdbcType=VARCHAR},
      is_delete = #{isDelete,jdbcType=INTEGER},
      add_time = #{addTime,jdbcType=TIMESTAMP},
      modify_time = #{modifyTime,jdbcType=TIMESTAMP},
      add_operator_id = #{addOperatorId,jdbcType=INTEGER},
      modify_operator_id = #{modifyOperatorId,jdbcType=INTEGER}
    where act_id = #{actId,jdbcType=INTEGER}
  </update>
</mapper>