<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.duobei.core.product.dao.mapper.ProductAppChannelMapper">
  <resultMap id="BaseResultMap" type="com.duobei.core.product.domain.ProductAppChannel">
    <id column="pac_id" jdbcType="INTEGER" property="id" />
    <result column="pac_product_id" jdbcType="INTEGER" property="productId" />
    <result column="pac_app_id" jdbcType="INTEGER" property="appId" />
    <result column="pac_channel_id" jdbcType="INTEGER" property="channelId" />
    <result column="pac_channel_style_id" jdbcType="INTEGER" property="channelStyleId" />
    <result column="pac_is_enable" jdbcType="BIT" property="isEnable" />
    <result column="pac_add_time" jdbcType="TIMESTAMP" property="addTime" />
    <result column="pac_modify_time" jdbcType="TIMESTAMP" property="modifyTime" />
    <result column="pac_add_operator_id" jdbcType="INTEGER" property="addOperatorId" />
    <result column="pac_modify_operator_id" jdbcType="INTEGER" property="modifyOperatorId" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    pac.id as pac_id, pac.product_id as pac_product_id, pac.app_id as pac_app_id, pac.channel_id as pac_channel_id, 
    pac.channel_style_id as pac_channel_style_id, pac.is_enable as pac_is_enable, pac.add_time as pac_add_time, 
    pac.modify_time as pac_modify_time, pac.add_operator_id as pac_add_operator_id, pac.modify_operator_id as pac_modify_operator_id
  </sql>
  <select id="selectByExample" parameterType="com.duobei.core.product.domain.ProductAppChannelExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from yy_product_app_channel pac
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from yy_product_app_channel pac
    where pac.id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from yy_product_app_channel
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="com.duobei.core.product.domain.ProductAppChannelExample">
    delete from yy_product_app_channel pac
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.duobei.core.product.domain.ProductAppChannel">
    <selectKey keyProperty="id" order="AFTER" resultType="java.lang.Integer">
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into yy_product_app_channel (product_id, app_id, channel_id, 
      channel_style_id, is_enable, add_time, 
      modify_time, add_operator_id, modify_operator_id
      )
    values (#{productId,jdbcType=INTEGER}, #{appId,jdbcType=INTEGER}, #{channelId,jdbcType=INTEGER}, 
      #{channelStyleId,jdbcType=INTEGER}, #{isEnable,jdbcType=BIT}, #{addTime,jdbcType=TIMESTAMP}, 
      #{modifyTime,jdbcType=TIMESTAMP}, #{addOperatorId,jdbcType=INTEGER}, #{modifyOperatorId,jdbcType=INTEGER}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.duobei.core.product.domain.ProductAppChannel">
    <selectKey keyProperty="id" order="AFTER" resultType="java.lang.Integer">
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into yy_product_app_channel
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="productId != null">
        product_id,
      </if>
      <if test="appId != null">
        app_id,
      </if>
      <if test="channelId != null">
        channel_id,
      </if>
      <if test="channelStyleId != null">
        channel_style_id,
      </if>
      <if test="isEnable != null">
        is_enable,
      </if>
      <if test="addTime != null">
        add_time,
      </if>
      <if test="modifyTime != null">
        modify_time,
      </if>
      <if test="addOperatorId != null">
        add_operator_id,
      </if>
      <if test="modifyOperatorId != null">
        modify_operator_id,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="productId != null">
        #{productId,jdbcType=INTEGER},
      </if>
      <if test="appId != null">
        #{appId,jdbcType=INTEGER},
      </if>
      <if test="channelId != null">
        #{channelId,jdbcType=INTEGER},
      </if>
      <if test="channelStyleId != null">
        #{channelStyleId,jdbcType=INTEGER},
      </if>
      <if test="isEnable != null">
        #{isEnable,jdbcType=BIT},
      </if>
      <if test="addTime != null">
        #{addTime,jdbcType=TIMESTAMP},
      </if>
      <if test="modifyTime != null">
        #{modifyTime,jdbcType=TIMESTAMP},
      </if>
      <if test="addOperatorId != null">
        #{addOperatorId,jdbcType=INTEGER},
      </if>
      <if test="modifyOperatorId != null">
        #{modifyOperatorId,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.duobei.core.product.domain.ProductAppChannelExample" resultType="java.lang.Long">
    select count(*) from yy_product_app_channel pac
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update yy_product_app_channel pac
    <set>
      <if test="record.id != null">
        pac.id = #{record.id,jdbcType=INTEGER},
      </if>
      <if test="record.productId != null">
        pac.product_id = #{record.productId,jdbcType=INTEGER},
      </if>
      <if test="record.appId != null">
        pac.app_id = #{record.appId,jdbcType=INTEGER},
      </if>
      <if test="record.channelId != null">
        pac.channel_id = #{record.channelId,jdbcType=INTEGER},
      </if>
      <if test="record.channelStyleId != null">
        pac.channel_style_id = #{record.channelStyleId,jdbcType=INTEGER},
      </if>
      <if test="record.isEnable != null">
        pac.is_enable = #{record.isEnable,jdbcType=BIT},
      </if>
      <if test="record.addTime != null">
        pac.add_time = #{record.addTime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.modifyTime != null">
        pac.modify_time = #{record.modifyTime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.addOperatorId != null">
        pac.add_operator_id = #{record.addOperatorId,jdbcType=INTEGER},
      </if>
      <if test="record.modifyOperatorId != null">
        pac.modify_operator_id = #{record.modifyOperatorId,jdbcType=INTEGER},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update yy_product_app_channel pac
    set pac.id = #{record.id,jdbcType=INTEGER},
      pac.product_id = #{record.productId,jdbcType=INTEGER},
      pac.app_id = #{record.appId,jdbcType=INTEGER},
      pac.channel_id = #{record.channelId,jdbcType=INTEGER},
      pac.channel_style_id = #{record.channelStyleId,jdbcType=INTEGER},
      pac.is_enable = #{record.isEnable,jdbcType=BIT},
      pac.add_time = #{record.addTime,jdbcType=TIMESTAMP},
      pac.modify_time = #{record.modifyTime,jdbcType=TIMESTAMP},
      pac.add_operator_id = #{record.addOperatorId,jdbcType=INTEGER},
      pac.modify_operator_id = #{record.modifyOperatorId,jdbcType=INTEGER}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.duobei.core.product.domain.ProductAppChannel">
    update yy_product_app_channel
    <set>
      <if test="productId != null">
        product_id = #{productId,jdbcType=INTEGER},
      </if>
      <if test="appId != null">
        app_id = #{appId,jdbcType=INTEGER},
      </if>
      <if test="channelId != null">
        channel_id = #{channelId,jdbcType=INTEGER},
      </if>
      <if test="channelStyleId != null">
        channel_style_id = #{channelStyleId,jdbcType=INTEGER},
      </if>
      <if test="isEnable != null">
        is_enable = #{isEnable,jdbcType=BIT},
      </if>
      <if test="addTime != null">
        add_time = #{addTime,jdbcType=TIMESTAMP},
      </if>
      <if test="modifyTime != null">
        modify_time = #{modifyTime,jdbcType=TIMESTAMP},
      </if>
      <if test="addOperatorId != null">
        add_operator_id = #{addOperatorId,jdbcType=INTEGER},
      </if>
      <if test="modifyOperatorId != null">
        modify_operator_id = #{modifyOperatorId,jdbcType=INTEGER},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.duobei.core.product.domain.ProductAppChannel">
    update yy_product_app_channel
    set product_id = #{productId,jdbcType=INTEGER},
      app_id = #{appId,jdbcType=INTEGER},
      channel_id = #{channelId,jdbcType=INTEGER},
      channel_style_id = #{channelStyleId,jdbcType=INTEGER},
      is_enable = #{isEnable,jdbcType=BIT},
      add_time = #{addTime,jdbcType=TIMESTAMP},
      modify_time = #{modifyTime,jdbcType=TIMESTAMP},
      add_operator_id = #{addOperatorId,jdbcType=INTEGER},
      modify_operator_id = #{modifyOperatorId,jdbcType=INTEGER}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>