<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.duobei.core.manage.sys.dao.mapper.SmsVerifyCodeMapper" >
  <resultMap id="BaseResultMap" type="com.duobei.core.manage.sys.domain.SmsVerifyCode" >
    <id column="svc_id" property="id" jdbcType="BIGINT" />
    <result column="svc_mobile" property="mobile" jdbcType="VARCHAR" />
    <result column="svc_sms_biz_type" property="smsBizType" jdbcType="INTEGER" />
    <result column="svc_verify_code" property="verifyCode" jdbcType="VARCHAR" />
    <result column="svc_invalid_time" property="invalidTime" jdbcType="TIMESTAMP" />
    <result column="svc_add_time" property="addTime" jdbcType="TIMESTAMP" />
    <result column="svc_modify_time" property="modifyTime" jdbcType="TIMESTAMP" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    svc.id as svc_id, svc.mobile as svc_mobile, svc.sms_biz_type as svc_sms_biz_type, 
    svc.verify_code as svc_verify_code, svc.invalid_time as svc_invalid_time, svc.add_time as svc_add_time, 
    svc.modify_time as svc_modify_time
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.duobei.core.manage.sys.domain.SmsVerifyCodeExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from sys_sms_verify_code svc
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Long" >
    select 
    <include refid="Base_Column_List" />
    from sys_sms_verify_code svc
    where svc.id = #{id,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long" >
    delete from sys_sms_verify_code
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <delete id="deleteByExample" parameterType="com.duobei.core.manage.sys.domain.SmsVerifyCodeExample" >
    delete from sys_sms_verify_code svc
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.duobei.core.manage.sys.domain.SmsVerifyCode" >
    <selectKey resultType="java.lang.Long" keyProperty="id" order="AFTER" >
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into sys_sms_verify_code (mobile, sms_biz_type, verify_code, 
      invalid_time, add_time, modify_time
      )
    values (#{mobile,jdbcType=VARCHAR}, #{smsBizType,jdbcType=INTEGER}, #{verifyCode,jdbcType=VARCHAR}, 
      #{invalidTime,jdbcType=TIMESTAMP}, #{addTime,jdbcType=TIMESTAMP}, #{modifyTime,jdbcType=TIMESTAMP}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.duobei.core.manage.sys.domain.SmsVerifyCode" >
    <selectKey resultType="java.lang.Long" keyProperty="id" order="AFTER" >
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into sys_sms_verify_code
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="mobile != null" >
        mobile,
      </if>
      <if test="smsBizType != null" >
        sms_biz_type,
      </if>
      <if test="verifyCode != null" >
        verify_code,
      </if>
      <if test="invalidTime != null" >
        invalid_time,
      </if>
      <if test="addTime != null" >
        add_time,
      </if>
      <if test="modifyTime != null" >
        modify_time,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="mobile != null" >
        #{mobile,jdbcType=VARCHAR},
      </if>
      <if test="smsBizType != null" >
        #{smsBizType,jdbcType=INTEGER},
      </if>
      <if test="verifyCode != null" >
        #{verifyCode,jdbcType=VARCHAR},
      </if>
      <if test="invalidTime != null" >
        #{invalidTime,jdbcType=TIMESTAMP},
      </if>
      <if test="addTime != null" >
        #{addTime,jdbcType=TIMESTAMP},
      </if>
      <if test="modifyTime != null" >
        #{modifyTime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.duobei.core.manage.sys.domain.SmsVerifyCodeExample" resultType="java.lang.Integer" >
    select count(*) from sys_sms_verify_code svc
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update sys_sms_verify_code svc
    <set >
      <if test="record.id != null" >
        svc.id = #{record.id,jdbcType=BIGINT},
      </if>
      <if test="record.mobile != null" >
        svc.mobile = #{record.mobile,jdbcType=VARCHAR},
      </if>
      <if test="record.smsBizType != null" >
        svc.sms_biz_type = #{record.smsBizType,jdbcType=INTEGER},
      </if>
      <if test="record.verifyCode != null" >
        svc.verify_code = #{record.verifyCode,jdbcType=VARCHAR},
      </if>
      <if test="record.invalidTime != null" >
        svc.invalid_time = #{record.invalidTime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.addTime != null" >
        svc.add_time = #{record.addTime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.modifyTime != null" >
        svc.modify_time = #{record.modifyTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update sys_sms_verify_code svc
    set svc.id = #{record.id,jdbcType=BIGINT},
      svc.mobile = #{record.mobile,jdbcType=VARCHAR},
      svc.sms_biz_type = #{record.smsBizType,jdbcType=INTEGER},
      svc.verify_code = #{record.verifyCode,jdbcType=VARCHAR},
      svc.invalid_time = #{record.invalidTime,jdbcType=TIMESTAMP},
      svc.add_time = #{record.addTime,jdbcType=TIMESTAMP},
      svc.modify_time = #{record.modifyTime,jdbcType=TIMESTAMP}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.duobei.core.manage.sys.domain.SmsVerifyCode" >
    update sys_sms_verify_code
    <set >
      <if test="mobile != null" >
        mobile = #{mobile,jdbcType=VARCHAR},
      </if>
      <if test="smsBizType != null" >
        sms_biz_type = #{smsBizType,jdbcType=INTEGER},
      </if>
      <if test="verifyCode != null" >
        verify_code = #{verifyCode,jdbcType=VARCHAR},
      </if>
      <if test="invalidTime != null" >
        invalid_time = #{invalidTime,jdbcType=TIMESTAMP},
      </if>
      <if test="addTime != null" >
        add_time = #{addTime,jdbcType=TIMESTAMP},
      </if>
      <if test="modifyTime != null" >
        modify_time = #{modifyTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.duobei.core.manage.sys.domain.SmsVerifyCode" >
    update sys_sms_verify_code
    set mobile = #{mobile,jdbcType=VARCHAR},
      sms_biz_type = #{smsBizType,jdbcType=INTEGER},
      verify_code = #{verifyCode,jdbcType=VARCHAR},
      invalid_time = #{invalidTime,jdbcType=TIMESTAMP},
      add_time = #{addTime,jdbcType=TIMESTAMP},
      modify_time = #{modifyTime,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=BIGINT}
  </update>
</mapper>