<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.duobei.core.manage.auth.dao.mapper.MenuMapper" >
  <resultMap id="BaseResultMap" type="com.duobei.core.manage.auth.domain.Menu" >
    <id column="m_menu_id" property="menuId" jdbcType="INTEGER" />
    <result column="m_parent_id" property="parentId" jdbcType="INTEGER" />
    <result column="m_menu_name" property="menuName" jdbcType="VARCHAR" />
    <result column="m_menu_type" property="menuType" jdbcType="VARCHAR" />
    <result column="m_res_id" property="resId" jdbcType="INTEGER" />
    <result column="m_auth_tag" property="authTag" jdbcType="VARCHAR" />
    <result column="m_menu_url" property="menuUrl" jdbcType="VARCHAR" />
    <result column="m_menu_icon" property="menuIcon" jdbcType="VARCHAR" />
    <result column="m_menu_tag" property="menuTag" jdbcType="VARCHAR" />
    <result column="m_menu_open_type" property="menuOpenType" jdbcType="VARCHAR" />
    <result column="m_menu_open_target" property="menuOpenTarget" jdbcType="VARCHAR" />
    <result column="m_menu_level" property="menuLevel" jdbcType="INTEGER" />
    <result column="m_is_parent" property="isParent" jdbcType="BIT" />
    <result column="m_menu_sort" property="menuSort" jdbcType="INTEGER" />
    <result column="m_system_type" property="systemType" jdbcType="VARCHAR" />
    <result column="m_path" property="path" jdbcType="VARCHAR" />
    <result column="m_state" property="state" jdbcType="VARCHAR" />
    <result column="m_add_time" property="addTime" jdbcType="TIMESTAMP" />
    <result column="m_modify_time" property="modifyTime" jdbcType="TIMESTAMP" />
    <result column="m_add_operator_id" property="addOperatorId" jdbcType="INTEGER" />
    <result column="m_add_operator_name" property="addOperatorName" jdbcType="VARCHAR" />
    <result column="m_modify_operator_id" property="modifyOperatorId" jdbcType="INTEGER" />
    <result column="m_modify_operator_name" property="modifyOperatorName" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    m.menu_id as m_menu_id, m.parent_id as m_parent_id, m.menu_name as m_menu_name, m.menu_type as m_menu_type, 
    m.res_id as m_res_id, m.auth_tag as m_auth_tag, m.menu_url as m_menu_url, m.menu_icon as m_menu_icon, 
    m.menu_tag as m_menu_tag, m.menu_open_type as m_menu_open_type, m.menu_open_target as m_menu_open_target, 
    m.menu_level as m_menu_level, m.is_parent as m_is_parent, m.menu_sort as m_menu_sort, 
    m.system_type as m_system_type, m.path as m_path, m.state as m_state, m.add_time as m_add_time, 
    m.modify_time as m_modify_time, m.add_operator_id as m_add_operator_id, m.add_operator_name as m_add_operator_name, 
    m.modify_operator_id as m_modify_operator_id, m.modify_operator_name as m_modify_operator_name
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.duobei.core.manage.auth.domain.MenuExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from aa_menu m
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from aa_menu m
    where m.menu_id = #{menuId,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from aa_menu
    where menu_id = #{menuId,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="com.duobei.core.manage.auth.domain.MenuExample" >
    delete from aa_menu m
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.duobei.core.manage.auth.domain.Menu" >
    <selectKey resultType="java.lang.Integer" keyProperty="menuId" order="AFTER" >
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into aa_menu (parent_id, menu_name, menu_type, 
      res_id, auth_tag, menu_url, 
      menu_icon, menu_tag, menu_open_type, 
      menu_open_target, menu_level, is_parent, 
      menu_sort, system_type, path, 
      state, add_time, modify_time, 
      add_operator_id, add_operator_name, modify_operator_id, 
      modify_operator_name)
    values (#{parentId,jdbcType=INTEGER}, #{menuName,jdbcType=VARCHAR}, #{menuType,jdbcType=VARCHAR}, 
      #{resId,jdbcType=INTEGER}, #{authTag,jdbcType=VARCHAR}, #{menuUrl,jdbcType=VARCHAR}, 
      #{menuIcon,jdbcType=VARCHAR}, #{menuTag,jdbcType=VARCHAR}, #{menuOpenType,jdbcType=VARCHAR}, 
      #{menuOpenTarget,jdbcType=VARCHAR}, #{menuLevel,jdbcType=INTEGER}, #{isParent,jdbcType=BIT}, 
      #{menuSort,jdbcType=INTEGER}, #{systemType,jdbcType=VARCHAR}, #{path,jdbcType=VARCHAR}, 
      #{state,jdbcType=VARCHAR}, #{addTime,jdbcType=TIMESTAMP}, #{modifyTime,jdbcType=TIMESTAMP}, 
      #{addOperatorId,jdbcType=INTEGER}, #{addOperatorName,jdbcType=VARCHAR}, #{modifyOperatorId,jdbcType=INTEGER}, 
      #{modifyOperatorName,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.duobei.core.manage.auth.domain.Menu" >
    <selectKey resultType="java.lang.Integer" keyProperty="menuId" order="AFTER" >
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into aa_menu
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="parentId != null" >
        parent_id,
      </if>
      <if test="menuName != null" >
        menu_name,
      </if>
      <if test="menuType != null" >
        menu_type,
      </if>
      <if test="resId != null" >
        res_id,
      </if>
      <if test="authTag != null" >
        auth_tag,
      </if>
      <if test="menuUrl != null" >
        menu_url,
      </if>
      <if test="menuIcon != null" >
        menu_icon,
      </if>
      <if test="menuTag != null" >
        menu_tag,
      </if>
      <if test="menuOpenType != null" >
        menu_open_type,
      </if>
      <if test="menuOpenTarget != null" >
        menu_open_target,
      </if>
      <if test="menuLevel != null" >
        menu_level,
      </if>
      <if test="isParent != null" >
        is_parent,
      </if>
      <if test="menuSort != null" >
        menu_sort,
      </if>
      <if test="systemType != null" >
        system_type,
      </if>
      <if test="path != null" >
        path,
      </if>
      <if test="state != null" >
        state,
      </if>
      <if test="addTime != null" >
        add_time,
      </if>
      <if test="modifyTime != null" >
        modify_time,
      </if>
      <if test="addOperatorId != null" >
        add_operator_id,
      </if>
      <if test="addOperatorName != null" >
        add_operator_name,
      </if>
      <if test="modifyOperatorId != null" >
        modify_operator_id,
      </if>
      <if test="modifyOperatorName != null" >
        modify_operator_name,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="parentId != null" >
        #{parentId,jdbcType=INTEGER},
      </if>
      <if test="menuName != null" >
        #{menuName,jdbcType=VARCHAR},
      </if>
      <if test="menuType != null" >
        #{menuType,jdbcType=VARCHAR},
      </if>
      <if test="resId != null" >
        #{resId,jdbcType=INTEGER},
      </if>
      <if test="authTag != null" >
        #{authTag,jdbcType=VARCHAR},
      </if>
      <if test="menuUrl != null" >
        #{menuUrl,jdbcType=VARCHAR},
      </if>
      <if test="menuIcon != null" >
        #{menuIcon,jdbcType=VARCHAR},
      </if>
      <if test="menuTag != null" >
        #{menuTag,jdbcType=VARCHAR},
      </if>
      <if test="menuOpenType != null" >
        #{menuOpenType,jdbcType=VARCHAR},
      </if>
      <if test="menuOpenTarget != null" >
        #{menuOpenTarget,jdbcType=VARCHAR},
      </if>
      <if test="menuLevel != null" >
        #{menuLevel,jdbcType=INTEGER},
      </if>
      <if test="isParent != null" >
        #{isParent,jdbcType=BIT},
      </if>
      <if test="menuSort != null" >
        #{menuSort,jdbcType=INTEGER},
      </if>
      <if test="systemType != null" >
        #{systemType,jdbcType=VARCHAR},
      </if>
      <if test="path != null" >
        #{path,jdbcType=VARCHAR},
      </if>
      <if test="state != null" >
        #{state,jdbcType=VARCHAR},
      </if>
      <if test="addTime != null" >
        #{addTime,jdbcType=TIMESTAMP},
      </if>
      <if test="modifyTime != null" >
        #{modifyTime,jdbcType=TIMESTAMP},
      </if>
      <if test="addOperatorId != null" >
        #{addOperatorId,jdbcType=INTEGER},
      </if>
      <if test="addOperatorName != null" >
        #{addOperatorName,jdbcType=VARCHAR},
      </if>
      <if test="modifyOperatorId != null" >
        #{modifyOperatorId,jdbcType=INTEGER},
      </if>
      <if test="modifyOperatorName != null" >
        #{modifyOperatorName,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.duobei.core.manage.auth.domain.MenuExample" resultType="java.lang.Integer" >
    select count(*) from aa_menu m
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update aa_menu m
    <set >
      <if test="record.menuId != null" >
        m.menu_id = #{record.menuId,jdbcType=INTEGER},
      </if>
      <if test="record.parentId != null" >
        m.parent_id = #{record.parentId,jdbcType=INTEGER},
      </if>
      <if test="record.menuName != null" >
        m.menu_name = #{record.menuName,jdbcType=VARCHAR},
      </if>
      <if test="record.menuType != null" >
        m.menu_type = #{record.menuType,jdbcType=VARCHAR},
      </if>
      <if test="record.resId != null" >
        m.res_id = #{record.resId,jdbcType=INTEGER},
      </if>
      <if test="record.authTag != null" >
        m.auth_tag = #{record.authTag,jdbcType=VARCHAR},
      </if>
      <if test="record.menuUrl != null" >
        m.menu_url = #{record.menuUrl,jdbcType=VARCHAR},
      </if>
      <if test="record.menuIcon != null" >
        m.menu_icon = #{record.menuIcon,jdbcType=VARCHAR},
      </if>
      <if test="record.menuTag != null" >
        m.menu_tag = #{record.menuTag,jdbcType=VARCHAR},
      </if>
      <if test="record.menuOpenType != null" >
        m.menu_open_type = #{record.menuOpenType,jdbcType=VARCHAR},
      </if>
      <if test="record.menuOpenTarget != null" >
        m.menu_open_target = #{record.menuOpenTarget,jdbcType=VARCHAR},
      </if>
      <if test="record.menuLevel != null" >
        m.menu_level = #{record.menuLevel,jdbcType=INTEGER},
      </if>
      <if test="record.isParent != null" >
        m.is_parent = #{record.isParent,jdbcType=BIT},
      </if>
      <if test="record.menuSort != null" >
        m.menu_sort = #{record.menuSort,jdbcType=INTEGER},
      </if>
      <if test="record.systemType != null" >
        m.system_type = #{record.systemType,jdbcType=VARCHAR},
      </if>
      <if test="record.path != null" >
        m.path = #{record.path,jdbcType=VARCHAR},
      </if>
      <if test="record.state != null" >
        m.state = #{record.state,jdbcType=VARCHAR},
      </if>
      <if test="record.addTime != null" >
        m.add_time = #{record.addTime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.modifyTime != null" >
        m.modify_time = #{record.modifyTime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.addOperatorId != null" >
        m.add_operator_id = #{record.addOperatorId,jdbcType=INTEGER},
      </if>
      <if test="record.addOperatorName != null" >
        m.add_operator_name = #{record.addOperatorName,jdbcType=VARCHAR},
      </if>
      <if test="record.modifyOperatorId != null" >
        m.modify_operator_id = #{record.modifyOperatorId,jdbcType=INTEGER},
      </if>
      <if test="record.modifyOperatorName != null" >
        m.modify_operator_name = #{record.modifyOperatorName,jdbcType=VARCHAR},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update aa_menu m
    set m.menu_id = #{record.menuId,jdbcType=INTEGER},
      m.parent_id = #{record.parentId,jdbcType=INTEGER},
      m.menu_name = #{record.menuName,jdbcType=VARCHAR},
      m.menu_type = #{record.menuType,jdbcType=VARCHAR},
      m.res_id = #{record.resId,jdbcType=INTEGER},
      m.auth_tag = #{record.authTag,jdbcType=VARCHAR},
      m.menu_url = #{record.menuUrl,jdbcType=VARCHAR},
      m.menu_icon = #{record.menuIcon,jdbcType=VARCHAR},
      m.menu_tag = #{record.menuTag,jdbcType=VARCHAR},
      m.menu_open_type = #{record.menuOpenType,jdbcType=VARCHAR},
      m.menu_open_target = #{record.menuOpenTarget,jdbcType=VARCHAR},
      m.menu_level = #{record.menuLevel,jdbcType=INTEGER},
      m.is_parent = #{record.isParent,jdbcType=BIT},
      m.menu_sort = #{record.menuSort,jdbcType=INTEGER},
      m.system_type = #{record.systemType,jdbcType=VARCHAR},
      m.path = #{record.path,jdbcType=VARCHAR},
      m.state = #{record.state,jdbcType=VARCHAR},
      m.add_time = #{record.addTime,jdbcType=TIMESTAMP},
      m.modify_time = #{record.modifyTime,jdbcType=TIMESTAMP},
      m.add_operator_id = #{record.addOperatorId,jdbcType=INTEGER},
      m.add_operator_name = #{record.addOperatorName,jdbcType=VARCHAR},
      m.modify_operator_id = #{record.modifyOperatorId,jdbcType=INTEGER},
      m.modify_operator_name = #{record.modifyOperatorName,jdbcType=VARCHAR}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.duobei.core.manage.auth.domain.Menu" >
    update aa_menu
    <set >
      <if test="parentId != null" >
        parent_id = #{parentId,jdbcType=INTEGER},
      </if>
      <if test="menuName != null" >
        menu_name = #{menuName,jdbcType=VARCHAR},
      </if>
      <if test="menuType != null" >
        menu_type = #{menuType,jdbcType=VARCHAR},
      </if>
      <if test="resId != null" >
        res_id = #{resId,jdbcType=INTEGER},
      </if>
      <if test="authTag != null" >
        auth_tag = #{authTag,jdbcType=VARCHAR},
      </if>
      <if test="menuUrl != null" >
        menu_url = #{menuUrl,jdbcType=VARCHAR},
      </if>
      <if test="menuIcon != null" >
        menu_icon = #{menuIcon,jdbcType=VARCHAR},
      </if>
      <if test="menuTag != null" >
        menu_tag = #{menuTag,jdbcType=VARCHAR},
      </if>
      <if test="menuOpenType != null" >
        menu_open_type = #{menuOpenType,jdbcType=VARCHAR},
      </if>
      <if test="menuOpenTarget != null" >
        menu_open_target = #{menuOpenTarget,jdbcType=VARCHAR},
      </if>
      <if test="menuLevel != null" >
        menu_level = #{menuLevel,jdbcType=INTEGER},
      </if>
      <if test="isParent != null" >
        is_parent = #{isParent,jdbcType=BIT},
      </if>
      <if test="menuSort != null" >
        menu_sort = #{menuSort,jdbcType=INTEGER},
      </if>
      <if test="systemType != null" >
        system_type = #{systemType,jdbcType=VARCHAR},
      </if>
      <if test="path != null" >
        path = #{path,jdbcType=VARCHAR},
      </if>
      <if test="state != null" >
        state = #{state,jdbcType=VARCHAR},
      </if>
      <if test="addTime != null" >
        add_time = #{addTime,jdbcType=TIMESTAMP},
      </if>
      <if test="modifyTime != null" >
        modify_time = #{modifyTime,jdbcType=TIMESTAMP},
      </if>
      <if test="addOperatorId != null" >
        add_operator_id = #{addOperatorId,jdbcType=INTEGER},
      </if>
      <if test="addOperatorName != null" >
        add_operator_name = #{addOperatorName,jdbcType=VARCHAR},
      </if>
      <if test="modifyOperatorId != null" >
        modify_operator_id = #{modifyOperatorId,jdbcType=INTEGER},
      </if>
      <if test="modifyOperatorName != null" >
        modify_operator_name = #{modifyOperatorName,jdbcType=VARCHAR},
      </if>
    </set>
    where menu_id = #{menuId,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.duobei.core.manage.auth.domain.Menu" >
    update aa_menu
    set parent_id = #{parentId,jdbcType=INTEGER},
      menu_name = #{menuName,jdbcType=VARCHAR},
      menu_type = #{menuType,jdbcType=VARCHAR},
      res_id = #{resId,jdbcType=INTEGER},
      auth_tag = #{authTag,jdbcType=VARCHAR},
      menu_url = #{menuUrl,jdbcType=VARCHAR},
      menu_icon = #{menuIcon,jdbcType=VARCHAR},
      menu_tag = #{menuTag,jdbcType=VARCHAR},
      menu_open_type = #{menuOpenType,jdbcType=VARCHAR},
      menu_open_target = #{menuOpenTarget,jdbcType=VARCHAR},
      menu_level = #{menuLevel,jdbcType=INTEGER},
      is_parent = #{isParent,jdbcType=BIT},
      menu_sort = #{menuSort,jdbcType=INTEGER},
      system_type = #{systemType,jdbcType=VARCHAR},
      path = #{path,jdbcType=VARCHAR},
      state = #{state,jdbcType=VARCHAR},
      add_time = #{addTime,jdbcType=TIMESTAMP},
      modify_time = #{modifyTime,jdbcType=TIMESTAMP},
      add_operator_id = #{addOperatorId,jdbcType=INTEGER},
      add_operator_name = #{addOperatorName,jdbcType=VARCHAR},
      modify_operator_id = #{modifyOperatorId,jdbcType=INTEGER},
      modify_operator_name = #{modifyOperatorName,jdbcType=VARCHAR}
    where menu_id = #{menuId,jdbcType=INTEGER}
  </update>
</mapper>