<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.duobei.core.manage.auth.dao.mapper.RoleMapper" >
  <resultMap id="BaseResultMap" type="com.duobei.core.manage.auth.domain.Role" >
    <id column="r_role_id" property="roleId" jdbcType="INTEGER" />
    <result column="r_role_name" property="roleName" jdbcType="VARCHAR" />
    <result column="r_role_state" property="roleState" jdbcType="VARCHAR" />
    <result column="r_remark" property="remark" jdbcType="VARCHAR" />
    <result column="r_add_time" property="addTime" jdbcType="TIMESTAMP" />
    <result column="r_modify_time" property="modifyTime" jdbcType="TIMESTAMP" />
    <result column="r_add_operator_id" property="addOperatorId" jdbcType="INTEGER" />
    <result column="r_add_operator_name" property="addOperatorName" jdbcType="VARCHAR" />
    <result column="r_modify_operator_id" property="modifyOperatorId" jdbcType="INTEGER" />
    <result column="r_modify_operator_name" property="modifyOperatorName" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    r.role_id as r_role_id, r.role_name as r_role_name, r.role_state as r_role_state, 
    r.remark as r_remark, r.add_time as r_add_time, r.modify_time as r_modify_time, r.add_operator_id as r_add_operator_id, 
    r.add_operator_name as r_add_operator_name, r.modify_operator_id as r_modify_operator_id, 
    r.modify_operator_name as r_modify_operator_name
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.duobei.core.manage.auth.domain.RoleExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from aa_role r
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from aa_role r
    where r.role_id = #{roleId,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from aa_role
    where role_id = #{roleId,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="com.duobei.core.manage.auth.domain.RoleExample" >
    delete from aa_role r
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.duobei.core.manage.auth.domain.Role" >
    <selectKey resultType="java.lang.Integer" keyProperty="roleId" order="AFTER" >
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into aa_role (role_name, role_state, remark, 
      add_time, modify_time, add_operator_id, 
      add_operator_name, modify_operator_id, modify_operator_name
      )
    values (#{roleName,jdbcType=VARCHAR}, #{roleState,jdbcType=VARCHAR}, #{remark,jdbcType=VARCHAR}, 
      #{addTime,jdbcType=TIMESTAMP}, #{modifyTime,jdbcType=TIMESTAMP}, #{addOperatorId,jdbcType=INTEGER}, 
      #{addOperatorName,jdbcType=VARCHAR}, #{modifyOperatorId,jdbcType=INTEGER}, #{modifyOperatorName,jdbcType=VARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.duobei.core.manage.auth.domain.Role" >
    <selectKey resultType="java.lang.Integer" keyProperty="roleId" order="AFTER" >
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into aa_role
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="roleName != null" >
        role_name,
      </if>
      <if test="roleState != null" >
        role_state,
      </if>
      <if test="remark != null" >
        remark,
      </if>
      <if test="addTime != null" >
        add_time,
      </if>
      <if test="modifyTime != null" >
        modify_time,
      </if>
      <if test="addOperatorId != null" >
        add_operator_id,
      </if>
      <if test="addOperatorName != null" >
        add_operator_name,
      </if>
      <if test="modifyOperatorId != null" >
        modify_operator_id,
      </if>
      <if test="modifyOperatorName != null" >
        modify_operator_name,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="roleName != null" >
        #{roleName,jdbcType=VARCHAR},
      </if>
      <if test="roleState != null" >
        #{roleState,jdbcType=VARCHAR},
      </if>
      <if test="remark != null" >
        #{remark,jdbcType=VARCHAR},
      </if>
      <if test="addTime != null" >
        #{addTime,jdbcType=TIMESTAMP},
      </if>
      <if test="modifyTime != null" >
        #{modifyTime,jdbcType=TIMESTAMP},
      </if>
      <if test="addOperatorId != null" >
        #{addOperatorId,jdbcType=INTEGER},
      </if>
      <if test="addOperatorName != null" >
        #{addOperatorName,jdbcType=VARCHAR},
      </if>
      <if test="modifyOperatorId != null" >
        #{modifyOperatorId,jdbcType=INTEGER},
      </if>
      <if test="modifyOperatorName != null" >
        #{modifyOperatorName,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.duobei.core.manage.auth.domain.RoleExample" resultType="java.lang.Integer" >
    select count(*) from aa_role r
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update aa_role r
    <set >
      <if test="record.roleId != null" >
        r.role_id = #{record.roleId,jdbcType=INTEGER},
      </if>
      <if test="record.roleName != null" >
        r.role_name = #{record.roleName,jdbcType=VARCHAR},
      </if>
      <if test="record.roleState != null" >
        r.role_state = #{record.roleState,jdbcType=VARCHAR},
      </if>
      <if test="record.remark != null" >
        r.remark = #{record.remark,jdbcType=VARCHAR},
      </if>
      <if test="record.addTime != null" >
        r.add_time = #{record.addTime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.modifyTime != null" >
        r.modify_time = #{record.modifyTime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.addOperatorId != null" >
        r.add_operator_id = #{record.addOperatorId,jdbcType=INTEGER},
      </if>
      <if test="record.addOperatorName != null" >
        r.add_operator_name = #{record.addOperatorName,jdbcType=VARCHAR},
      </if>
      <if test="record.modifyOperatorId != null" >
        r.modify_operator_id = #{record.modifyOperatorId,jdbcType=INTEGER},
      </if>
      <if test="record.modifyOperatorName != null" >
        r.modify_operator_name = #{record.modifyOperatorName,jdbcType=VARCHAR},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update aa_role r
    set r.role_id = #{record.roleId,jdbcType=INTEGER},
      r.role_name = #{record.roleName,jdbcType=VARCHAR},
      r.role_state = #{record.roleState,jdbcType=VARCHAR},
      r.remark = #{record.remark,jdbcType=VARCHAR},
      r.add_time = #{record.addTime,jdbcType=TIMESTAMP},
      r.modify_time = #{record.modifyTime,jdbcType=TIMESTAMP},
      r.add_operator_id = #{record.addOperatorId,jdbcType=INTEGER},
      r.add_operator_name = #{record.addOperatorName,jdbcType=VARCHAR},
      r.modify_operator_id = #{record.modifyOperatorId,jdbcType=INTEGER},
      r.modify_operator_name = #{record.modifyOperatorName,jdbcType=VARCHAR}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.duobei.core.manage.auth.domain.Role" >
    update aa_role
    <set >
      <if test="roleName != null" >
        role_name = #{roleName,jdbcType=VARCHAR},
      </if>
      <if test="roleState != null" >
        role_state = #{roleState,jdbcType=VARCHAR},
      </if>
      <if test="remark != null" >
        remark = #{remark,jdbcType=VARCHAR},
      </if>
      <if test="addTime != null" >
        add_time = #{addTime,jdbcType=TIMESTAMP},
      </if>
      <if test="modifyTime != null" >
        modify_time = #{modifyTime,jdbcType=TIMESTAMP},
      </if>
      <if test="addOperatorId != null" >
        add_operator_id = #{addOperatorId,jdbcType=INTEGER},
      </if>
      <if test="addOperatorName != null" >
        add_operator_name = #{addOperatorName,jdbcType=VARCHAR},
      </if>
      <if test="modifyOperatorId != null" >
        modify_operator_id = #{modifyOperatorId,jdbcType=INTEGER},
      </if>
      <if test="modifyOperatorName != null" >
        modify_operator_name = #{modifyOperatorName,jdbcType=VARCHAR},
      </if>
    </set>
    where role_id = #{roleId,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.duobei.core.manage.auth.domain.Role" >
    update aa_role
    set role_name = #{roleName,jdbcType=VARCHAR},
      role_state = #{roleState,jdbcType=VARCHAR},
      remark = #{remark,jdbcType=VARCHAR},
      add_time = #{addTime,jdbcType=TIMESTAMP},
      modify_time = #{modifyTime,jdbcType=TIMESTAMP},
      add_operator_id = #{addOperatorId,jdbcType=INTEGER},
      add_operator_name = #{addOperatorName,jdbcType=VARCHAR},
      modify_operator_id = #{modifyOperatorId,jdbcType=INTEGER},
      modify_operator_name = #{modifyOperatorName,jdbcType=VARCHAR}
    where role_id = #{roleId,jdbcType=INTEGER}
  </update>
</mapper>