<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.duobei.core.operation.consume.dao.mapper.ConsumeLoanRenewalConfigMapper">
  <resultMap id="BaseResultMap" type="com.duobei.core.operation.consume.domain.ConsumeLoanRenewalConfig">
    <id column="clrc_id" jdbcType="INTEGER" property="id" />
    <result column="clrc_consume_loan_config_id" jdbcType="INTEGER" property="consumeLoanConfigId" />
    <result column="clrc_start_day" jdbcType="INTEGER" property="startDay" />
    <result column="clrc_end_day" jdbcType="INTEGER" property="endDay" />
    <result column="clrc_renewal_capital_rate" jdbcType="DECIMAL" property="renewalCapitalRate" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    clrc.id as clrc_id, clrc.consume_loan_config_id as clrc_consume_loan_config_id, clrc.start_day as clrc_start_day, 
    clrc.end_day as clrc_end_day, clrc.renewal_capital_rate as clrc_renewal_capital_rate
  </sql>
  <select id="selectByExample" parameterType="com.duobei.core.operation.consume.domain.ConsumeLoanRenewalConfigExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from yy_consume_loan_renewal_config clrc
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from yy_consume_loan_renewal_config clrc
    where clrc.id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from yy_consume_loan_renewal_config
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="com.duobei.core.operation.consume.domain.ConsumeLoanRenewalConfigExample">
    delete from yy_consume_loan_renewal_config clrc
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.duobei.core.operation.consume.domain.ConsumeLoanRenewalConfig">
    <selectKey keyProperty="id" order="AFTER" resultType="java.lang.Integer">
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into yy_consume_loan_renewal_config (consume_loan_config_id, start_day, end_day, 
      renewal_capital_rate)
    values (#{consumeLoanConfigId,jdbcType=INTEGER}, #{startDay,jdbcType=INTEGER}, #{endDay,jdbcType=INTEGER}, 
      #{renewalCapitalRate,jdbcType=DECIMAL})
  </insert>
  <insert id="insertSelective" parameterType="com.duobei.core.operation.consume.domain.ConsumeLoanRenewalConfig">
    <selectKey keyProperty="id" order="AFTER" resultType="java.lang.Integer">
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into yy_consume_loan_renewal_config
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="consumeLoanConfigId != null">
        consume_loan_config_id,
      </if>
      <if test="startDay != null">
        start_day,
      </if>
      <if test="endDay != null">
        end_day,
      </if>
      <if test="renewalCapitalRate != null">
        renewal_capital_rate,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="consumeLoanConfigId != null">
        #{consumeLoanConfigId,jdbcType=INTEGER},
      </if>
      <if test="startDay != null">
        #{startDay,jdbcType=INTEGER},
      </if>
      <if test="endDay != null">
        #{endDay,jdbcType=INTEGER},
      </if>
      <if test="renewalCapitalRate != null">
        #{renewalCapitalRate,jdbcType=DECIMAL},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.duobei.core.operation.consume.domain.ConsumeLoanRenewalConfigExample" resultType="java.lang.Long">
    select count(*) from yy_consume_loan_renewal_config clrc
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update yy_consume_loan_renewal_config clrc
    <set>
      <if test="record.id != null">
        clrc.id = #{record.id,jdbcType=INTEGER},
      </if>
      <if test="record.consumeLoanConfigId != null">
        clrc.consume_loan_config_id = #{record.consumeLoanConfigId,jdbcType=INTEGER},
      </if>
      <if test="record.startDay != null">
        clrc.start_day = #{record.startDay,jdbcType=INTEGER},
      </if>
      <if test="record.endDay != null">
        clrc.end_day = #{record.endDay,jdbcType=INTEGER},
      </if>
      <if test="record.renewalCapitalRate != null">
        clrc.renewal_capital_rate = #{record.renewalCapitalRate,jdbcType=DECIMAL},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update yy_consume_loan_renewal_config clrc
    set clrc.id = #{record.id,jdbcType=INTEGER},
      clrc.consume_loan_config_id = #{record.consumeLoanConfigId,jdbcType=INTEGER},
      clrc.start_day = #{record.startDay,jdbcType=INTEGER},
      clrc.end_day = #{record.endDay,jdbcType=INTEGER},
      clrc.renewal_capital_rate = #{record.renewalCapitalRate,jdbcType=DECIMAL}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.duobei.core.operation.consume.domain.ConsumeLoanRenewalConfig">
    update yy_consume_loan_renewal_config
    <set>
      <if test="consumeLoanConfigId != null">
        consume_loan_config_id = #{consumeLoanConfigId,jdbcType=INTEGER},
      </if>
      <if test="startDay != null">
        start_day = #{startDay,jdbcType=INTEGER},
      </if>
      <if test="endDay != null">
        end_day = #{endDay,jdbcType=INTEGER},
      </if>
      <if test="renewalCapitalRate != null">
        renewal_capital_rate = #{renewalCapitalRate,jdbcType=DECIMAL},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.duobei.core.operation.consume.domain.ConsumeLoanRenewalConfig">
    update yy_consume_loan_renewal_config
    set consume_loan_config_id = #{consumeLoanConfigId,jdbcType=INTEGER},
      start_day = #{startDay,jdbcType=INTEGER},
      end_day = #{endDay,jdbcType=INTEGER},
      renewal_capital_rate = #{renewalCapitalRate,jdbcType=DECIMAL}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>