body {
	background-color: #ECF0F5;
}

* {
	font-style: normal;
}

.f-right {
	float: right;
}

/*头部样式 */
.header {
	background-color: #fff;
	margin: 8px 8px 8px 8px;
	padding-left: 16px;
	padding-right: 16px;
}

.template {
	display: inline-block;
	margin-left: 12px;
}

.tableColumnRransfer {
	margin-top: 16px;
}

.ivu-table .rule-table-able td {
	background-color: #fff;
}

.ivu-table .rule-table-disable td {
	background-color: #eee;
}